/*----------------------------------------
	bridal
---------------------------------------*/
#main.bridal #primary .entry .copy h3 span {
	width: 630px;
	height: 50px;
    background: url(../images/bridal/ttl.gif) no-repeat scroll 0 0 transparent;
}
#main.bridal #primary .entry .copy h3 {
    background: url(../images/bridal/ttl_bg.gif) no-repeat scroll 0 6px transparent;
    height: 36px;
    line-height: 36px;
	margin: 0 0 15px 0;
    color:#5f6188;
    font-size:18px;
    text-indent: 100%;
    width: auto;
}
#main.bridal #primary .entry .copy p {
    padding: 0 10px 15px;
    line-height: 1.5;
}
#main.bridal #primary .entry .copy ul {
    padding: 30px 0 40px;
    margin: 0 0 0 30px;
}
#main.bridal #primary .entry .copy li {
   float:left;
   margin-right:15px;
}

#main.bridal #primary .basic{
    position: relative;
    background: url(../images/bridal/basic_bg.png) no-repeat scroll -250px -200px transparent;
    width: 647px;
    margin:0 0 40px;
/*    min-height: 756px;*/
}
#main.bridal #primary .basic:before, #main.bridal #primary .basic .before {
	height:10px;
	display: block;
	position: relative;
	background: url(../images/bridal/basic_head.png) left bottom no-repeat;
}
#main.bridal #primary .basic:before, #main.bridal #primary .basic{
	before: " ";
	content: " ";
}
#main.bridal #primary .basic:after, #main.bridal #primary .basic{
	after: " ";
	content: " ";
}
#main.bridal #primary .basic:after, #main.bridal #primary .basic .after {
	height:10px;
	display: block;
	position: relative;
	background: url(../images/bridal/basic_foot.png) left bottom no-repeat;
}


#main.bridal #primary .basicInner{
	padding:50px 10px 0;
	background: url(../images/bridal/basic_line.png) 0 0 repeat-y;
}
#main.bridal #primary .basicInner h4{
	position:absolute;
	left:0;
	top:-20px;
}
#main.bridal #primary .basicInner .bCopy{
	font-size:14px;
	line-height:1.6;
	padding:0 0 0 10px;
}

#main.bridal #primary .basicInner .leftArea{
   width: 270px;
   float: left;
}
#main.bridal #primary .basicInner .leftArea p{
   width: 270px;
   float: left;
   margin:20px 0 10px;
}
#main.bridal #primary .basicInner .rightArea{
   width: 350px;
   float: left;
}
#main.bridal #primary .basicInner .rightArea h5{
   margin:20px 0 0;
}

#main.bridal #primary .basicInner .rightArea th,
#main.bridal #primary .basicInner .rightArea td{
   line-height:1.6;
}
#main.bridal #primary .basicInner .rightArea th{
   text-align:right;
   font-weight:bold;
   color:#9b6ac6;
   padding-right:2.5em;
}
#main.bridal #primary .basicInner .rightArea td.price{
   width: 7em;
   text-align:right;
   font-size:18px;
   font-weight:bold;
   color:#9b6ac6;
}

#main.bridal #primary .plan01{
    position: relative;
    background: url(../images/bridal/plan01_bg01.png) repeat-y scroll left top transparent;
    width: 628px;
    margin:20px 0 0 10px;
}
#main.bridal #primary .plan01 .planInner{
    background: url(../images/bridal/plan01_bg02.png) no-repeat scroll left top transparent;
    padding:58px 0 20px 15px;
}
#main.bridal #primary .plan01 h5{
	position:absolute;
	left:0;
	top:-8px;
}
#main.bridal #primary .plan01 ul{
    background: url(../images/bridal/plan01_list_bg.png) no-repeat scroll left top transparent;
    margin:12px 0 0 0;
    padding:18px 0 17px 20px;
}

#main.bridal #primary .plan02{
    position: relative;
    background: url(../images/bridal/plan02_bg01.png) repeat-y scroll left top transparent;
    width: 628px;
    margin:20px 0 0 10px;
}
#main.bridal #primary .plan02 .planInner{
    background: url(../images/bridal/plan02_bg02.png) no-repeat scroll left top transparent;
    padding:58px 0 20px 15px;
}
#main.bridal #primary .plan02 h5{
	position:absolute;
	left:0;
	top:-8px;
}
#main.bridal #primary .plan02 ul{
    background: url(../images/bridal/plan02_list_bg.png) no-repeat scroll left top transparent;
    margin:12px 0 0 0;
    padding:18px 0 17px 20px;
}

#main.bridal #primary .plan03{
    position: relative;
    background: url(../images/bridal/plan03_bg01.png) repeat-y scroll left top transparent;
    width: 628px;
    margin:20px 0 0 10px;
}
#main.bridal #primary .plan03 .planInner{
    background: url(../images/bridal/plan03_bg02.png) no-repeat scroll right top transparent;
    padding:58px 0 20px 15px;
}
#main.bridal #primary .plan03 h5{
	position:absolute;
	left:0;
	top:-8px;
}
#main.bridal #primary .plan03 ul{
    background: url(../images/bridal/plan03_list_bg.png) no-repeat scroll left top transparent;
    margin:12px 0 0 0;
    padding:18px 0 17px 20px;
}

#main.bridal #primary .plan li {
    float: left;
    margin: 0 8px 0 0;
}
#main.bridal #primary .plan .plan03 li {
    float: left;
    margin: 0 4px 0 0;
}
#main.bridal #primary .plan li img{
vertical-align: bottom;
}
#main.bridal #primary .plan li.price {
   text-align:right;
   font-size:18px;
   color:#9b6ac6;
   width: 150px;
   line-height:50px;
}
#main.bridal #primary .plan li.price2l {
   line-height:24px;
   width: 120px;
}

#main.bridal #primary .plan li.price  a {
   color:#9b6ac6;
}


#main.bridal #primary .guide{
    margin:40px 0 0 0;
}
#main.bridal #primary .guide h4{
    margin:0 0 10px;
}

#main.bridal #primary .guide li{
    font-size:14px;
    color:#9b6ac6;
    padding:0 0 5px;
}

#main.bridal #primary .guide li li,
#main.bridal #primary .guide li dl{
    color:#654343;
}


#main.bridal #primary .guide li dl{
    padding:0 0 5px;
}
#main.bridal #primary .guide li dt{
    padding:5px 0 0;
}
#main.bridal #primary .guide li dd{
    padding:0 0 0 1em;
}
#main.bridal #primary .guide .indentList li{
    padding:0 0 0 1em;
}


/*ブライダルプラン詳細*/
#main.plan_bridal #primary .entry h3 {
    background: url(../images/bridal/sttl_02.png) no-repeat scroll 0 0 transparent;
    width: auto;
}

#main.plan_bridal #primary .pack {
	margin: 0 0 40px 10px;
	padding: 1px 0 1px 0;
}
#main.plan_bridal #primary .pack01 {
    background: url(../images/bridal/plan/plan02_bg01.png) repeat-y scroll left top transparent;
}
#main.plan_bridal #primary .pack02{
    background: url(../images/bridal/plan/plan03_bg01.png) repeat-y scroll left top transparent;
}
#main.plan_bridal #primary .pack03{
    background: url(../images/bridal/plan/plan04_bg01.png) repeat-y scroll left top transparent;
}
#main.plan_bridal #primary .plan01{
    position: relative;
    background: none;
    width: 597px;
    margin:20px 0 25px 14px;
}
#main.plan_bridal #primary .plan01:before, #main.plan_bridal #primary .plan01 .before {
	height:10px;
	display: block;
	position: relative;
	background: url(../images/bridal/plan/plan01_head.png) left bottom no-repeat;
}
#main.plan_bridal #primary .plan01:before, #main.plan_bridal #primary .plan01{
	before: " ";
	content: " ";
}
#main.plan_bridal #primary .plan01:after, #main.plan_bridal #primary .plan01{
	after: " ";
	content: " ";
}
#main.plan_bridal #primary .plan01:after, #main.plan_bridal #primary .plan01 .after {
	height:10px;
	display: block;
	position: relative;
	background: url(../images/bridal/plan/plan01_foot.png) left bottom no-repeat;
}

#main.plan_bridal #primary .plan01 .planInner{
    background: url(../images/bridal/plan/plan01_line.png) repeat-y scroll left top transparent;
    padding:55px 0 5px 5px;
}
#main.plan_bridal #primary .plan01 h4{
	position:absolute;
	left:-14px;
	top:-9px;
}
#main.plan_bridal #primary .plan01 .bCopy {
	padding: 0 0 10px 5px;
}
#main.plan_bridal #primary .plan01 .leftArea{
	width:283px;
	float:left;
	text-align:right;
}
#main.plan_bridal #primary #wy03 .leftArea{
	width:303px;
}
#main.plan_bridal #primary .plan01 .rightArea{
	width:290px;
	float:left;
}
#main.plan_bridal #primary #wy03 .rightArea{
	width:270px;
}

#main.plan_bridal #primary .plan01 .leftArea img{
	margin-right:8px;
}

#main.plan_bridal #primary .plan01 .rightArea dt{
	width:40px;
	margin:0;
	float:left;
}
#main.plan_bridal #primary .plan01 .rightArea dd{
	width:240px;
	margin:0;
	float:right;
	text-align:right;
	font-size:14px;
	line-height:1.3;
	padding-bottom:10px;
}
#main.plan_bridal #primary #wy03 .rightArea dd{
	width:225px;
}
#main.plan_bridal #primary .plan01 .rightArea dd.price,
#main.plan_bridal #primary .plan01 .rightArea dd strong{
	color:#9b6ac6;
}
#main.plan_bridal #primary .plan01 .rightArea dd strong{
	font-size:20px;
}
#main.plan_bridal #primary #wy03 .rightArea dd strong{
	line-height: 40px;
}
#main.plan_bridal #primary .plan01 .rightArea dd span{
	font-size:12px;
}

#main.plan_bridal #primary .plan01 .rightArea ul{
    background:none;
    margin:10px 0 0 0;
    padding:23px 0 0;
	border-top:1px #654343 solid;
}
#main.plan_bridal #primary .plan01 .rightArea ul.floatList li{
    margin-right:8px;
}
#main.plan_bridal #primary #wy03 .rightArea ul.floatList li{
    margin-bottom:8px;
}
#main.plan_bridal #primary .plan01 .rightArea ul.floatList li.lefttop{
    margin-right:19px;
}
#main.plan_bridal #primary #wy03 .rightArea ul.floatList li.lefttop{
    margin-right:59px;
}
#main.plan_bridal #primary .plan01 .rightArea ul.floatList li.centericon{
    margin-right:6px;
}
#main.plan_bridal #primary .plan01 .rightArea ul.floatList li.rightend{
    margin-right:0;
}
#main.plan_bridal #primary .plan01 .rightArea ul.floatList li.line2top{
    margin-left:100px;
}

#main.plan_bridal #primary .plan01 .rightArea p{
    padding-top:5px;
    line-height:1.3;
}
#main.plan_bridal #primary .plan01 .rightArea p.txt{
    padding-top:0;
	padding-bottom: 5px;
}
#main.plan_bridal #primary .plan01 .rightArea p.bCap{
    padding-top:30px;
}

#main.plan_bridal #primary #y01.plan01 .leftArea img{margin-right:14px;}
#main.plan_bridal #primary #y01.plan01 .rightArea{padding-top:55px;}
#main.plan_bridal #primary #w01.plan01 .rightArea{padding-top:20px;}
#main.plan_bridal #primary #y02.plan01 .rightArea{padding-top:40px;}
#main.plan_bridal #primary #w02.plan01 .rightArea{padding-top:20px;}
#main.plan_bridal #primary #wy02.plan01 .rightArea{padding-top:5px;}



#main.plan_bridal #primary .special01{
    position: relative;
    width: 629px;
    margin:20px 0 0 0;
}
#main.plan_bridal #primary .special01 h4{
	margin-top: -10px;
	text-align: center;
}
#main.plan_bridal #primary .special01 .specialInner{
    padding:0 10px 20px 10px;
}
#main.plan_bridal #primary .special01 .leftArea{
	width:265px;
	float:left;
}
#main.plan_bridal #primary .special01 .rightArea{
	width:340px;
	float:left;
	padding-top:15px;
}
#main.plan_bridal #primary .special01 h5{
	margin-bottom:15px;
}
#main.plan_bridal #primary .special01 table{
	margin-left:25px;
	margin-bottom:30px;
}
#main.plan_bridal #primary .special01 td{
	line-height:1.3;
}
#main.plan_bridal #primary .special01 td.textCenter{
	vertical-align:middle;
	padding:0 30px;
}
#main.plan_bridal #primary .special01 .indentList{
	margin-left:45px;
	width:260px;
}
#main.plan_bridal #primary .special01 .indentList li{
	line-height:1.3;
	padding-bottom:10px;
}
#main.plan_bridal #primary .special01 .indentList li span{
	display:block;
}

#main.plan_bridal #primary #sp1.special01{
    /*background: url(../images/bridal/plan/plan02_bg01.png) repeat-y scroll left top transparent;*/
	background: none;
}
#main.plan_bridal #primary #sp1.special01 .specialInner{
    background: url(../images/bridal/plan/plan02_bg02.png) no-repeat scroll right 10px transparent;
}
#main.plan_bridal #primary #sp2.special01{
    /*background: url(../images/bridal/plan/plan03_bg01.png) repeat-y scroll left top transparent;*/
	background: none;
}
#main.plan_bridal #primary #sp2.special01 .specialInner{
    background: url(../images/bridal/plan/plan03_bg02.png) no-repeat scroll right 10px transparent;
}
