/*----------------------------------------
	calendar (home)
---------------------------------------*/
.schedule {
	width: 421px;
	height: 277px;
	padding: 85px 0 0 0;
	background: url(../images/home/schedule_bg.gif) left top no-repeat;
	position: relative;
	color: #654343;
}
.schedule h3 {
	width: 277px;
	height: 55px;
	text-indent: 150%;
	white-space:nowrap;
	overflow:hidden;
	background: url(../images/home/schedule_ttl.gif) no-repeat;
	position: absolute;
	top: 50px;
	left: 10px;
}
.schedule .inner {
	width: 378px;
	padding: 5px 0 0 0;
}
.schedule .calendar {
		padding: 10px 0 0 28px;
		position: relative;
}
/* monthNav */
.schedule .calendar ul.calendarNavi {
	width: 350px;
	height: 1em;
	position: absolute;
	top: 20px;
	left: 25px;
	z-index: 10;
}
.schedule .calendar ul.calendarNavi li.prev {
	width: 50px;
	font-size: 10px;
	text-align: left;
	position: absolute;
	top: 0px;
	left: 5px;
}
	.schedule .calendar ul.calendarNavi .prev a { color: #4e4d4b;}
.schedule .calendar ul.calendarNavi li.next {
	width: 50px;
	font-size: 10px;
	text-align: right;
	position: absolute;
	top: 0px;
	right: 5px;
}
	.schedule .calendar ul.calendarNavi .next a { color: #4e4d4b;}
/* calendar-table */
.schedule .calendar table {
	width: 350px;
}
    .schedule .calendar caption {
		padding: 5px 0;
		font-size: 14px;
		font-weight: bold;
		color: #654343;
		text-align: center;
	}
    .schedule .calendar th {
		width: 47px;
		height: 27px;
		text-align: center;
	    border-top: 1px solid #e4e4e4;
	    background-position: center center;
	    background-repeat: no-repeat;
	    text-indent: -9999px;
	}
	.schedule .calendar td {
		height: 26px;
    	padding: 0 1px 0 5px;
	    border-top: 1px solid #e4e4e4;
		line-height: 28px;
	}
		.schedule .calendar td dl {
			position: relative;
		}
		.schedule .calendar td dt {
			font-family: 'Telex', sans-serif;
			font-size: 14px;
			color: #654343;
			text-align: center;
			line-height: 28px;
			position: relative;
			z-index: 2;
		}
		.schedule .calendar td dd {
			height: 28px;
			width: 35px;
			line-height: 28px;
			position: absolute;
			top: 0;
			left: 5px;
			z-index: 1;
		}
		.schedule .calendar td.today dd {	/*本日*/
			background: url(../images/home/schedule_today.png) center no-repeat;
		}
.schedule .colorTip{
	width: 430px;
	margin: 0 20px;
}
	.schedule .colorTip li {
		float: left;
		margin: 0 20px 0 0;
		font-size: 12px;
	}
	.schedule .colorTip li span {
		font-size: 18px;
		font-weight: bold;
	}

/* color */
.schedule .calendar td.cat3 { background-color: #fdced4; } /* 定休日 */
.schedule .calendar td.cat4 { background-color: #e7bbbf; } /* 臨時休業 */
.schedule .calendar td.cat5 { background-color: #e4f5c6; } /*  */
.schedule .calendar td.cat6 { background-color: #c8e4f5; } /*  */
.schedule .calendar td.cat7 { background-color: #ffcbff; } /*  */
.schedule .calendar td.cat8 { background-color: #ed9974; } /*  */
.schedule .calendar td.cat9 { background-color: #94d96a; } /*  */
.schedule .calendar td.cat10 { background-color: #7ed4d3; } /*  */
.schedule .calendar td.cat11 { background-color: #d7baf8; } /*  */
.schedule .calendar td.cat12 { background-color: #ff6363; } /*  */

.schedule .colorTip li .cat3 { color: #fdced4; } /* 定休日 */
.schedule .colorTip li .cat4 { color: #e7bbbf; } /* 臨時休業 */
.schedule .colorTip li .cat5 { color: #e4f5c6; } /*  */
.schedule .colorTip li .cat6 { color: #c8e4f5; } /*  */
.schedule .colorTip li .cat7 { color: #ffcbff; } /*  */
.schedule .colorTip li .cat8 { color: #ed9974; } /*  */
.schedule .colorTip li .cat9 { color: #94d96a; } /*  */
.schedule .colorTip li .cat10 { color:#7ed4d3; } /*  */
.schedule .colorTip li .cat11 { color: #d7baf8; } /*  */
.schedule .colorTip li .cat12 { color: #ff6363; } /*  */

.schedule .calendar tr th:nth-child(1),
.schedule .calendar tr td:nth-child(1) {
	border-left: none;
}
.schedule .calendar tr th:nth-child(7),
.schedule .calendar tr td:nth-child(7) {
	border-right: none;
}
.schedule .calendar th.w1 {
	background-image: url(../images/home/calendar_week_sun.gif);
}
.schedule .calendar th.w2 {
	background-image: url(../images/home/calendar_week_mon.gif);
}
.schedule .calendar th.w3 {
	background-image: url(../images/home/calendar_week_tue.gif);
}
.schedule .calendar th.w4 {
	background-image: url(../images/home/calendar_week_wed.gif);
}
.schedule .calendar th.w5 {
	background-image: url(../images/home/calendar_week_thu.gif);
}
.schedule .calendar th.w6 {
	background-image: url(../images/home/calendar_week_fri.gif);
}
.schedule .calendar th.w7 {
	background-image: url(../images/home/calendar_week_sat.gif);
}
.schedule .calendar tr td:nth-child(1) dt {
	color: #c00;
}
.schedule .calendar tr td:nth-child(7) dt {
	color: #0a58cc;
}
.schedule .calendar tr:last-child td {
	border-bottom: none;
}

/*----------------------------------------
	calendar (side)
---------------------------------------*/
.scheduleMini {
	width: 260px;
	height: 220px;
	padding: 47px 0 0 0;
	background: url(../images/common/schedule_bg.gif) left top no-repeat;
}
.scheduleMini h3 {
	width: 171px;
	height: 36px;
	background: url(../images/common/schedule_ttl.gif) no-repeat;
	top: 29px;
	left: 5px;
}
.scheduleMini .inner {
	width: 230px;
	padding: 2px 0 0 0;
}
.scheduleMini .calendar {
	padding: 10px 0 0 10px;
}
/* monthNav */
.scheduleMini .calendar ul.calendarNavi {
	width: 230px;
	top: 15px;
	left: 10px;
}
.scheduleMini .calendar ul.calendarNavi li.prev {
	font-size: 9px;
	left: 8px;
}
.scheduleMini .calendar ul.calendarNavi li.next {
	font-size: 9px;
	right: 8px;
}
/* calendar-table */
.scheduleMini .calendar table {
	width: 230px;
}
    .scheduleMini .calendar caption {
		height: 15px;
		padding: 5px 0 0;
		font-size: 12px;
		line-height: 15px;
	}
    .scheduleMini .calendar th {
		width: 28px;
		height: 17px;
		background-size: 80% auto;
	}
	.scheduleMini .calendar td {
		height: 16px;
    	padding: 0 0 0 2px;
	    border-top: 1px solid #e4e4e4;
		line-height: 16px;
	}
		.scheduleMini .calendar td dt {
			font-size: 11px;
			line-height: 16px;
		}
		.scheduleMini .calendar td dd {
			height: 16px;
			width: 28px;
			line-height: 16px;
			left: 3px;
		}
		.scheduleMini .calendar td.today dd {	/*本日*/
			background: url(../images/common/schedule_today.png) center no-repeat;
		}
.scheduleMini .colorTip{
	width: 230px;
	margin: 0 10px;
}
	.scheduleMini .colorTip li {
		margin: 0 10px 0 0;
		font-size: 11px;
	}
	.scheduleMini .colorTip li span {
		font-size: 14px;
	}
