/*2カラム
-------------------------------------------------------------- */
/*----------------------------------------
	plan
---------------------------------------*/
#main.plan #primary h3 {	/*メインタイトル*/
	width: 650px;
	height: 50px;
	margin: 0 0 30px 0;
	background: url(../images/plan/ttl.gif) 20px 0 no-repeat;
}
#main.plan #primary h3:after, #main.plan h3 {
	after: " ";
	content: " ";
}
#main.plan #primary h3:after, #main.plan #primary h3 .after {
	height: 10px;
	display: block;
	position: relative;
	background: url(../images/common/ttl_1column_bg.gif) 20px bottom no-repeat;
}

#main.plan #primary .detail{
	padding:0 20px 0;
}

#main.plan #primary .plan01 {
	margin: 35px 5px 0 20px;
	padding: 50px 15px 15px 15px;
	position: relative;
}
#main.plan #primary .plan01 h4 {
    position: absolute;
    left: 0;
    top: -13px;
}
#main.plan #primary .plan01 .leftArea {
    width:130px;
    float:left;
}
#main.plan #primary .plan01 .leftArea img{
	margin-left:10px;
}
#main.plan #primary .plan01 .rightArea {
    width:450px;
    float:right;
}

#main.plan #primary .plan01 .rightArea th,
#main.plan #primary .plan01 .rightArea td{
   line-height:1.6;
   font-weight:bold;
   font-size:14px;
   padding:0 0 5px 0;
}

#main.plan #primary .plan01 .rightArea th{
   text-align:right;
   color:#ff6378;
   padding-right:2em;
}

#main.plan #primary .plan01 .rightArea td.price{
   text-align:right;
   font-size:18px;
   color:#ff6378;
}
#main.plan #primary .plan01 .rightArea td span{
   font-size:12px;
   color:#ff6378;
}

#main.plan #primary .plan01 .note{
   width:310px;
   float:left;
   font-size:11px;
   letter-spacing:-0.05em;
   text-align:right;
}

#main.plan #primary .plan01 .rightArea td.textS{
   font-size:12px;
}
#main.plan #primary .plan01 .rightArea td.indent{
   padding-left:2em;
}

#main.plan #primary .plan01 .linkBtn{
   width:290px;
   height:46px;
   float:right;
}
#main.plan #primary .plan01 .linkBtn a{
   display:block;
}
#main.plan #primary .plan01 .linkBtn a:hover img{
   visibility:hidden;
}

#main.plan #primary .plan01 .btn01 a{background: url(../images/plan/btn_01_on.gif) left top no-repeat;}
#main.plan #primary .plan01 .btn02 a{background: url(../images/plan/btn_02_on.gif) left top no-repeat;}
#main.plan #primary .plan01 .btn03 a{background: url(../images/plan/btn_03_on.gif) left top no-repeat;}
#main.plan #primary .plan01 .btn04 a{background: url(../images/plan/btn_04_on.gif) left top no-repeat;}
#main.plan #primary .plan01 .btn05 a{background: url(../images/plan/btn_05_on.gif) left top no-repeat;}
#main.plan #primary .plan01 .btn06 a{background: url(../images/plan/btn_06_on.gif) left top no-repeat;}
#main.plan #primary .plan01 .btn07 a{background: url(../images/plan/btn_07_on.gif) left top no-repeat;}
#main.plan #primary .plan01 .btn08 a{background: url(../images/plan/btn_08_on.gif) left top no-repeat;}
#main.plan #primary .plan01 .btn09 a{background: url(../images/plan/btn_09_on.gif) left top no-repeat;}
#main.plan #primary .plan01 .btn10 a{background: url(../images/plan/btn_10_on.gif) left top no-repeat;}
#main.plan #primary .plan01 .btn11 a{background: url(../images/plan/btn_11_on.gif) left top no-repeat;}

#main.plan #primary .kids {
	background-color: rgba(254,237,201,0.45);
filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#66feedc9,endcolorstr=#66feedc9,gradienttype=0);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#66feedc9,endColorstr=#66feedc9)";
	zoom:1;
}
#main.plan #primary .growup{
	background-color: rgba(137,195,46,0.2);
filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#6689c32e,endcolorstr=#6689c32e,gradienttype=0);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#6689c32e,endColorstr=#6689c32e)";
	zoom:1;
}
#main.plan #primary .bridal{
	background-color: rgba(155,106,198,0.15);
filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#669b6ac6,endcolorstr=#669b6ac6,gradienttype=0);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#669b6ac6,endColorstr=#669b6ac6)";
	zoom:1;
}
#main.plan #primary .family{
	background-color: rgba(233,153,13,0.15);
filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#66e9990d,endcolorstr=#66e9990d,gradienttype=0);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#66e9990d,endColorstr=#66e9990d)";
	zoom:1;
}
#main.plan #primary .portrait{
	background-color: rgba(87,204,233,0.15);
filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#6657cce9,endcolorstr=#6657cce9,gradienttype=0);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#6657cce9,endColorstr=#6657cce9)";
	zoom:1;
}
#main.plan #primary .idphoto{
	background-color: rgba(86,131,233,0.15);
filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#665683e9,endcolorstr=#665683e9,gradienttype=0);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#665683e9,endColorstr=#665683e9)";
	zoom:1;
}



/*----------------------------------------
	price
---------------------------------------*/
#main.price #primary h3 {	/*メインタイトル*/
	width: 630px;
	height: 50px;
	margin: 0 0 30px 0;
	background: url(../images/price/ttl.gif) 20px 0 no-repeat;
}
#main.price #primary h3:after, #main.price h3 {
	after: ".";
	content: ".";
}
#main.price #primary h3:after, #main.price #primary h3 .after {
	height: 10px;
	display: block;
	position: relative;
	background: url(../images/common/ttl_1column_bg.gif) 20px bottom no-repeat;
}
#main.price #primary .entry h3:after, #main.price #primary .entry h3 .after {	/*afterで引いてるdot線を殺す*/
	height: 0;
	display: none;
	position: relative;
	background: none;
}
#main.price #primary .photo h3 span {
	background: url(../images/price/sttl01.gif) no-repeat;
}
#main.price #primary .other h3 span {
	background: url(../images/price/sttl02.gif) no-repeat;
}

#main.price #primary .detail{
	padding:0 20px 30px;
}
#main.price #primary .photo .detail,
#main.price #primary .other .detail{
	padding:0 10px 30px;
}
#main.price #primary .leftArea{
	float:left;
}
#main.price #primary .rightArea{
	float:right;
}

#main.price #primary .photo .leftArea{
	width:350px;
	margin-bottom:20px;
}


#main.price #primary .colorbox{
	margin-left:10px;
}
#main.price #primary .colorbox:before, #main.price #primary .colorbox {
	before: " ";
	content: " ";
}
#main.price #primary .colorbox:before, #main.price #primary .colorbox .before{
	height: 10px;
	display: block;
	vertical-align: bottom;
	font-size: 0;
	background: url(../images/price/line_head.gif) no-repeat;
}
#main.price #primary .colorbox:after, #main.price #primary .colorbox {
	after: " ";
	content: " ";
}
#main.price #primary .colorbox:after, #main.price #primary .colorbox .after {
	height: 10px;
	display: block;
	vertical-align: bottom;
	font-size: 0;
	background: url(../images/price/line_foot.gif) no-repeat;
}
#main.price #primary .colorbox ul {
	background: url(../images/price/line_bg.gif) repeat-y;
	width:610px;
}
#main.price #primary .colorbox li{
	padding:0 20px;
	font-size:14px;
	font-weight:bold;
}


/*----------------------------------------
	flow
---------------------------------------*/
#main.flow #primary h3 {	/*メインタイトル*/
	width: 650px;
	height: 50px;
	margin: 0 0 30px 0;
	background: url(../images/flow/ttl.gif) 20px 0 no-repeat;
}
#main.flow #primary h3:after, #main.plan h3 {
	after: " ";
	content: " ";
}
#main.flow #primary h3:after, #main.plan #primary h3 .after {
	height: 10px;
	display: block;
	position: relative;
	background: url(../images/common/ttl_1column_bg.gif) 20px bottom no-repeat;
}

#main.flow #primary .box {
	margin: 0 0 24px 20px;
	background: url(../images/flow/bg.png);
	line-height: 1.5;
}
#main.flow #primary .box .leftArea,
#main.flow #primary .box .rightArea {
	float: left;
}
#main.flow #primary .box .btn {
	margin: 10px 0;
	text-align: center;
}
#main.flow #primary .box .btn img {
	vertical-align: bottom;
}
#main.flow #primary .box .btn li {
	float: left;
}

#main.flow #primary .flow01 {
	padding: 16px 0 10px 17px;
}
#main.flow #primary .flow01 .leftArea {
	width: 272px;
	margin: -5px 0 0 0;
}
#main.flow #primary .flow01 .rightArea {
	width: 340px;
}
#main.flow #primary .flow01 h4 {
	padding: 0 0 6px 12px;
}

#main.flow #primary .flow02 {
	padding: 14px 0 24px 16px;
}
#main.flow #primary .flow02 .leftArea {
	width: 381px;
}
#main.flow #primary .flow02 .leftArea .txt {
	margin: 0 0 0 8px;
}
#main.flow #primary .flow02 .leftArea .btn {
	width: 387px;
	margin: 24px 0 24px -4px;
}
#main.flow #primary .flow02 .leftArea .btn li {
	margin: 0 7px 0 0;
}
#main.flow #primary .flow02 .rightArea {
	width: 243px;
	margin: -3px 0 0 -13px;
}
#main.flow #primary .flow02 h4 {
	margin: 0 0 8px 0;
}

#main.flow #primary .flow03 {
	padding: 16px 0 0 8px;
	position: relative;
}
#main.flow #primary .flow03 .leftArea {
	width: 365px;
	margin: -5px 0 0 0;
}
#main.flow #primary .flow03 .rightArea {
	width: 318px;
	margin: 0 0 0 -64px;
}
#main.flow #primary .flow03 .rightArea .txt {
	margin: 0 10px 0 50px;
}
#main.flow #primary .flow03 h4 {
	padding: 0 0 8px 0;
}

#main.flow #primary .flow04 {
	padding: 14px 0 15px 16px;
	position: relative;
}
#main.flow #primary .flow04 .leftArea .txt {
	margin: 0 0 0 8px;
}
#main.flow #primary .flow04 .leftArea .txt01 {
	width: 330px;
	height: 260px;
	margin-bottom: 193px;
}
#main.flow #primary .flow04 .leftArea .btn {
	width: 387px;
	margin: 24px 0 24px -4px;
}
#main.flow #primary .flow04 .leftArea .btn li {
	margin: 0 7px 0 0;
}
#main.flow #primary .flow04 .rightArea {
	float: none;
	position: absolute;
	width: 263px;
	top: 11px;
	left: 359px;
}
#main.flow #primary .flow04 .photo {
	float: none;
	position: absolute;
	width: 263px;
	top: 333px;
	left: 8px;
}
#main.flow #primary .flow04 h4 {
	margin: 0 0 6px 3px;
}

#main.flow #primary .flow05 {
	padding: 16px 0 15px 12px;
}
#main.flow #primary .flow05 .leftArea {
	width: 300px;
	margin: -5px 0 0 0;
}
#main.flow #primary .flow05 .rightArea {
	width: 318px;
}
#main.flow #primary .flow05 .rightArea .txt {
	margin: 0 15px 15px 20px;
}
#main.flow #primary .flow05 .rightArea .btn {
	margin: 10px 0 0 0;
}
#main.flow #primary .flow05 .rightArea .btn ul {
	margin: 0 0 0 22px;
}
#main.flow #primary .flow05 .rightArea .btn li {
	margin: 0 13px 0 0;
}
#main.flow #primary .flow05 h4 {
	padding: 0 0 6px 0;
}
#main.flow #primary .flow05 p {
	clear: both;
}

#main.flow #primary .flow06 {
	padding: 5px 0 0 16px;
}
#main.flow #primary .flow06 .leftArea {
	width: 359px;
}
#main.flow #primary .flow06 .leftArea .txt {
	margin: 0 15px 0 8px;
}
#main.flow #primary .flow06 .rightArea {
	width: 267px;
	margin: 6px 0 0 -15px;
}
#main.flow #primary .flow06 h4 {
	margin: 0 0 6px 0;
}




/*----------------------------------------
	family(家族・記念日)
---------------------------------------*/
#main.family #primary .entry h3 {
	width: 656px;
	height: 35px;

	background: url(../images/family/ttl_line.gif) 0 bottom no-repeat;
}
#main.family #primary .entry h3 span {
	margin: 0 0 0 10px;
	background: url(../images/family/ttl.gif) 0 0 no-repeat;
}

#main.family #primary .entry .copy ul {
	overflow: hidden;
	text-align: center;
}

#main.family #primary .entry .copy ul li {
	float: left;
	width: 161px;
}

#main.family #primary .entry .copy ul li img {
	display: block;
	margin: 5px 0;
}

#main.family #primary .entry h4 {
	margin: 20px 0 0 0;
	height: 46px;
	background: url(../images/common/primary_ttl_bg.gif) no-repeat;
}

#main.family .entry h4 span {
	
	display: block;
}

#main.family .entry .plan h4 span {
	height: 38px;
	margin: 8px 0 0 12px;
	text-indent: -10000px;
	background: url(../images/family/ttl01.gif) 0px 8px no-repeat;
}
/* プラン・ベーシック、ヘアメイク */
#main.family .entry .plan .plan01 {
	margin: 35px 0 0 0;
	padding: 56px 20px 16px 18px;
	position: relative;
	background: url(../images/family/bg_colorBox02.png) 0px 0px repeat-y;
}

#main.family .entry .plan .plan01 h5 {
	position: absolute;
	top: -20px;
	left: 0;
}
/* プラン・マタニティ */
#main.family .entry .plan .plan02 {
	margin: 35px 0 0 0;
	padding: 55px 20px 20px 20px;
	position: relative;
	background: url(../images/family/bg_colorBox01.png) 0px 0px repeat-y;
}

#main.family .entry .plan .plan02 h5 {
	position: absolute;
	top:-20px;
	left: 0;
}

#main.family .entry .plan .plan02 .clearfix {
	margin-bottom:20px;
}

/* プラン・ビューティーフォト */
#main.family .entry .plan .plan04 {
	position: relative;
	text-align:center;
	background: url(../images/family/bg_colorBox02.png) 0px 0px repeat-y;
}

#main.family .entry .plan .plan04 h5 {
	margin:0px;
	padding:0px;
	text-align:left;
}

#main.family .entry .plan .plan04 h5 img {
	margin:0;
	padding:0;
}

#main.family .entry .plan .plan04 .plan04_main {
	padding: 25px 20px 20px 20px;
	position: relative;
}

#main.family .entry .plan .plan04 .line {	margin:20px 0;}

#main.family .entry .plan .plan04 .photo_list {	margin-top:25px;}

#main.family .entry .plan .plan04 .photo_list li:first-child {
	margin-left:0px;
}

#main.family .entry .plan .plan04 .photo_list li {
	float:left;
	margin-left:10px;	
}

#main.family .entry .plan .plan04 .price_pist {
	width:100%;
	color:#ff6378;
	padding:5px 0 20px;
}

#main.family .entry .plan .plan04 .price_pist th {
	text-align:right;
	font-weight:bold;
	line-height:24px;
	font-size:20px;
	padding-right:10px;
}

#main.family .entry .plan .plan04 .price_pist th span { font-size:25px;}

#main.family .entry .plan .plan04 .price_pist td {
	font-size:18px;
	font-weight:bold;
	line-height:24px;
}

#main.family .entry .plan .plan04 .icon_list {
	width:540px;
	margin:25px auto 30px;
}

#main.family .entry .plan .plan04 .icon_list li:first-child {
	padding-left:0px;
	padding-right:5px;
}

#main.family .entry .plan .plan04 .icon_list li {
	display:table-cell;
	padding-left:8px;
	vertical-align:middle;
}

#main.family .entry .plan .plan04 .tokutent_list {
	width:100%;
	background: url(../images/family/img_06.png) right 5px no-repeat;
}

#main.family .entry .plan .plan04 .tokutent_list th {
	line-height:14px;
	padding-right:15px;
	padding-bottom:10px;
	vertical-align:top;
}

#main.family .entry .plan .plan04 .tokutent_list td {
	font-size:15px;
	line-height:26px;
	color:#654343;
	padding-top:6px;
	padding-bottom:10px;
	vertical-align:top;
}

#main.family .entry .plan .plan04 .tokutent_list td .txt_small {
	font-size:13px;
	line-height:22px;
}

#main.family .entry .plan .plan04 .tokutent_list td .txt_big { 
	font-size:18px;
	font-weight:bold;
}

#main.family .entry .plan .plan04 .tokutent_list td .tokuten_img {
	margin:-20px 0 0;}

#main.family .entry .plan .plan04 .tokutent_list td ul {}

#main.family .entry .plan .plan04 .tokutent_list td li:first-child {
	margin-left:0px;
}

#main.family .entry .plan .plan04 .tokutent_list td li {
	width:190px;
	float:left;
	color:#654343;
	margin-left:15px;
	font-size:12px;
}

#main.family .entry .plan .plan04 .tokutent_list td li p {
	margin:5px 5px 0;
	line-height:18px;
}

#main.family .entry .plan .plan04 .tokutent_list td li p span {
	padding-top:5px;
	display:block;
	font-size:11px;
	line-height:16px;
}

#main.family .entry .plan .plan04 h3 {
	background-image:none !important;
	text-indent:inherit !important;
	text-align:left;
	margin:20px 0 10px 0;
	padding:20px 0 0 0;}

#main.family .entry .plan .plan04 .printprice_list01 {
	margin-bottom:15px;
}

#main.family .entry .plan .plan04 .printprice_list01 li:first-child {margin-left:0px;}

#main.family .entry .plan .plan04 .printprice_list01 li {
	float:left;
	margin-left:25px;
	width:184px;
	height:48px;
	font-size:20px;
	font-weight:bold;
	color:#654343;
	text-align:center;
	padding-top:38px;
}

#main.family .entry .plan .plan04 .printprice_list01 li.list_01 {
	background: url(../images/family/img_price01.png) left top no-repeat;
}

#main.family .entry .plan .plan04 .printprice_list01 li.list_02 {
	background: url(../images/family/img_price02.png) left top no-repeat;
}

#main.family .entry .plan .plan04 .printprice_list01 li.list_03 {
	background: url(../images/family/img_price03.png) left top no-repeat;
}

#main.family .entry .plan .plan04 .printprice_list02 li:first-child {
	margin-top:0px;
}

#main.family .entry .plan .plan04 .printprice_list02 li {
	text-align:left;
	margin-top:10px;
	width:608px;
	height:248px;
	padding-top:22px;
	padding-left:180px;
}

#main.family .entry .plan .plan04 .printprice_list02 li p {
	font-size:14px;
	font-weight:bold;
	color:#654343;
	line-height:30px;
	vertical-align:middle;
	display:table-cell;
}

#main.family .entry .plan .plan04 .printprice_list02 li.list_01 {
	display:inline-block;
	background: url(../images/family/img_price04.jpg) left top no-repeat;
}

#main.family .entry .plan .plan04 .printprice_list02 li.list_02 {
	display:inline-block;
	background: url(../images/family/img_price05.jpg) left top no-repeat;
}

#main.family .entry .plan .plan04 .printprice_list02 li.list_03 {
	display:inline-block;
	background: url(../images/family/img_price06.jpg) left top no-repeat;
}

#main.family .entry .plan .plan04 .printprice_list02 li span {
	font-size:23px;
}

/* お願い */
#main.family .entry .plan .ask {
	
	padding: 23px 0 0 0;
}

#main.family .entry .plan .ask p {
	padding: 10px 0 0 5px;
	font-size: 14px;
}

#main.family .entry .plan .ask p em {
	color:#ff6375;
}
/* ヘアメイク料金 */
#main.family .entry .plan .plan03 {
	margin: 35px 0 0 0;
	padding: 55px 20px 20px 20px;
	
	position: relative;
	background: url(../images/family/bg_colorBox02.png) 0px 0px repeat-y;
}

#main.family .entry .plan .plan03 h5 {
	position: absolute;
	top: -5px;
	left: 0;
}

#main.family .entry .plan .plan03 table.bd  {
	
	width: 235px;
	
	border: 1px solid #654343;
}

#main.family .entry .plan .plan03 table.bd th, #main.family .entry .plan .plan03 table.bd td {
	
	border: 1px solid #654343;
}

#main.family .entry .plan .plan03 table.bd th {
	padding: 5px 0 5px 15px;
	color: #fff;
	font-weight: bold;
	text-align: left;
	background: #96cfcf;
}

#main.family .entry .plan .plan03 table.bd td {
	padding: 5px 25px 5px 0;
	color: #654343;
	font-weight: normal;
	text-align:right;
}

/* プラン・共通 */
#main.family .entry .plan .bCopy {
    font-size: 14px;
    line-height: 1.6;
    padding: 0 0 10px 5px;
}

#main.family .entry .plan .leftArea {
	
	width: 320px;
	float: left;
}

#main.family .entry .plan .rightArea {
	
	width: 265px;
	float: right;
}

#main.family .entry .plan .rightArea dl {
	margin: 10px 0 0 5px;
}

#main.family .entry .plan .rightArea dt {
	float: left;
	
}

#main.family .entry .plan .rightArea dd {
	float: right;
}

#main.family .entry .plan .rightArea dd table {
	
	width: 185px;
	
}

#main.family .entry .plan .rightArea td {
	padding: 0 0;
	color: #ff6378;
	text-align: left;
	line-height:1.8;
	font-weight: bold;
}

#main.family .entry .plan td.price {
	font-size:18px;
	font-weight:bold;
	
	text-align: right;
}

#main.family .entry .plan table {
		width: 260px;
}

#main.family .entry .plan dd .bCap {
	font-size: 11px;
	
	line-height: 1.2;
}

#main.family .entry .plan .rightArea .bdB {
	
	width: 264px;
	margin: 10px 0;
	padding: 20px 0;
	background:url(../images/common/line_01.gif) left top no-repeat;
}

#main.family .entry .plan .rightArea .bdB p {
	font-size: 11px;
}

/* 囲み-1 */
#main.family .entry .colorbox{
	margin-left:56px;
}

#main.family .entry .colorbox:before, #main.family .entry .colorbox {
	before: " ";
	content: " ";
}

#main.family .entry .colorbox:before, #main.family .entry .colorbox .before{
	height: 10px;
	display: block;
	vertical-align: bottom;
	font-size: 0;
	background: url(../images/family/line_head.gif) no-repeat;
}

#main.family .entry .colorbox:after, #main.family .entry .colorbox {
	after: " ";
	content: " ";
}

#main.family .entry .colorbox:after, #main.family .entry .colorbox .after {
	height: 10px;
	display: block;
	vertical-align: bottom;
	font-size: 0;
	background: url(../images/family/line_foot.gif) no-repeat;
}

#main.family .entry .colorbox .boxInner {
	background: url(../images/family/line_bg.gif) repeat-y;
	width:495px;
	
	padding: 10px 0;
}
/* 囲み-2 */
#main.family .entry .colorbox02{
	margin-left: 20px;
}

#main.family .entry .colorbox02 .boxInner {
	background: url(../images/family/line02_bg.gif) repeat-y;
	width:610px;
	
	padding: 10px 0;
}

#main.family .entry .colorbox02:before, #main.family .entry .colorbox02 {
	before: " ";
	content: " ";
}

#main.family .entry .colorbox02:before, #main.family .entry .colorbox02 .before{
	height: 10px;
	display: block;
	vertical-align: bottom;
	font-size: 0;
	background: url(../images/family/line02_head.gif) no-repeat;
}

#main.family .entry .colorbox02:after, #main.family .entry .colorbox02 {
	after: " ";
	content: " ";
}

#main.family .entry .colorbox02:after, #main.family .entry .colorbox02 .after {
	height: 10px;
	display: block;
	vertical-align: bottom;
	font-size: 0;
	background: url(../images/family/line02_foot.gif) no-repeat;
}

/* 囲み-共通 */
#main.family .entry .colorbox .boxInner {
	background: url(../images/family/line_bg.gif) repeat-y;
	width:495px;
	
	padding: 10px 0;
}

#main.family .entry .boxInner h5, #main.family .entry .boxInner h6 {
	margin:0 0 5px 27px;
}

#main.family .entry .colorbox p{
	padding:0 45px;
	font-size:12px;
}

#main.family .entry .boxInner dl {
	float: left;
	
	padding: 5px 0 15px 0;
	
}

#main.family .entry .boxInner dt {
	float: left;
	
	width: 100px;
	margin-left: 50px;
	clear: both;
}

#main.family .entry .boxInner dd {
	float: right;
	clear: right;
	margin-right: 20px;
}



/*----------------------------------------
	portrait
---------------------------------------*/
#main.portrait #primary .entry .copy h3 span {
	width: 630px;
	height: 50px;
    background: url(../images/portrait/ttl.gif) no-repeat scroll 0 0 transparent;
}
#main.portrait #primary .entry .copy h3 {
    background: url(../images/portrait/ttl_bg.gif) no-repeat scroll 0 20px transparent;
    height: 36px;
    line-height: 36px;
	margin: 0 0 15px 0;
    color:#5f6188;
    font-size:18px;
    text-indent: 100%;
    width: auto;
}
#main.portrait #primary .copy p {
	padding: 0 10px 15px 15px;
}
#main.portrait #primary .copy ul{
	padding: 0 0 30px 10px;
}
#main.portrait #primary .copy li{
	padding: 0 30px;
	text-align:center;
	font-size:14px;
}
#main.portrait #primary .copy li img{
	margin-bottom:5px;
}

#main.portrait #primary .plan h4 span{
		background: url(../images/portrait/ttl_plan.gif) no-repeat;
}


#main.portrait #primary .plan .plan01 {
	margin: 35px 0 0 0;
	padding: 60px 20px 15px 10px;
	position: relative;
	background-color: rgba(160,214,231,0.2);
filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#66a0d6e7,endcolorstr=#66a0d6e7,gradienttype=0);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#66a0d6e7,endColorstr=#66a0d6e7)";
	zoom:1;
}

#main.portrait #primary .plan01 h5 {
    position: absolute;
    left: 0;
    top: -20px;
}
#main.portrait #primary .plan01 h5.posi2 {
    top: -24px;
}


#main.portrait #primary .plan01 .bCopy {
    font-size: 14px;
    line-height: 1.6;
    padding: 0 0 10px 15px;
}

#main.portrait #primary .plan01 .leftArea {
	width:288px;
	text-align:center;
	float:left;
}
#main.portrait #primary .plan01 .rightArea {
	width:320px;
	float:right;
    padding: 0 0 0;
}

#main.portrait #primary .plan01 .rightArea th,
#main.portrait #primary .plan01 .rightArea td{
   line-height:1.6;
   color:#28a6d0;
   font-weight:bold;
   padding-top:5px;
   padding-bottom:10px;
}
#main.portrait #primary .plan01 .rightArea td.price{
   text-align:right;
}
#main.portrait #primary .plan01 .rightArea td.price strong{
   font-size:18px;
}
#main.portrait #primary .plan01 .rightArea td.price span{
   font-size:10px;
}

#main.portrait #primary .plan01 .rightArea .topLine{
   background: url(../images/portrait/line_01.gif) no-repeat;
   padding-top:25px;
   line-height:1.5;
}

#main.portrait #primary .option {
	margin: 35px 0 0 0;
	padding: 7px 10px 15px 10px;
	position: relative;
	background-color: rgba(218,205,143,0.23);
filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#36dacd8f,endcolorstr=#36dacd8f,gradienttype=0);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#36dacd8f,endColorstr=#36dacd8f)";
	zoom:1;
}
#main.portrait #primary .option .leftArea{
   width: 316px;
   float: left;
   text-align:center;
}
#main.portrait #primary .option .rightArea{
   width: 265px;
   float: right;
   padding: 0 0 15px 0;
}
#main.portrait #primary .option h5 {
   padding: 0 0 0 5px;
}
#main.portrait #primary .option .bCopy {
    font-size: 14px;
    line-height: 1.6;
    padding: 10px 0 10px 15px;
}

#main.portrait #primary .caution {
	padding: 15px 0 0 5px;
}




/*----------------------------------------
	idphoto
---------------------------------------*/
#main.idphoto #primary .entry h3#cert {
	height: 35px;
	margin-bottom: 25px;
	background: none !important;
	border-bottom: 2px solid #2e66c3;
}
	#main.idphoto #primary .entry h3#cert span {
		width: 638px;
		height: 36px;
		background: url(../images/idphoto/ttl.gif) no-repeat;
	}
	#main.idphoto ul.menu {
		padding: 35px 0;
		overflow: hidden;
	}
	#main.idphoto ul.menu li {
		float: left;
		padding: 0 44px;
		text-align: center;
	}
	#main.idphoto .menu li img { display: block;}
#main.idphoto #primary .entry .plan h3 {
	width: 653px;
	height: 50px;
	background: url(../images/idphoto/ttl_bg.gif) no-repeat;
}
	#main.idphoto #primary .entry .plan h3 span {
		background: url(../images/idphoto/ttl_plan.gif) no-repeat;
	}
#main.idphoto .post {
	margin: 5px 0 30px -5px;
	padding: 0 0 10px 0;
	line-height: 1.5;
	background: url(../images/idphoto/bg_section.png) repeat-y;
}
	#main.idphoto .post h4 {
		text-indent: -10000px;
	}
	/* h4_img */
	#main.idphoto .post h4.stt1 {
		margin-left: -5px;
		height: 58px;
		background: url(../images/idphoto/sttl01.png) left top no-repeat;
	}
	#main.idphoto .post h4.stt2 {
		height: 52px;
		background: url(../images/idphoto/sttl02.png) left top no-repeat;
	}
	#main.idphoto .post h4.stt3 {
		height: 50px;
		background: url(../images/idphoto/sttl03.png) left top no-repeat;
	}
	#main.idphoto .post h4.stt4 {
		height: 50px;
		background: url(../images/idphoto/sttl04.png) left top no-repeat;
	}
	
	#main.idphoto .post p {
		padding: 0 0 10px 45px;
	}
#main.idphoto .post .imgleft {
	float: left;
}
	#main.idphoto .post .imgleft img {
		margin: 0 0 0 50px;
	}
#main.idphoto .post .rdate {
	float: right;
	width: 315px;
}
	#main.idphoto .post .rdate dl {
		overflow: auto;
	}
		#main.idphoto .post .rdate dl.price {
			padding: 0 0 15px 0;
			background: url(../images/idphoto/line.png) left bottom no-repeat;
		}
		#main.idphoto .post .rdate dl.feat {
			margin-bottom: 20px;
			padding: 18px 0 0 0;
		}
	#main.idphoto .post .rdate dt {
		float: left;
		width: 50px;
	}
	#main.idphoto .post .rdate dd {
		width: 270px;
	}
		#main.idphoto .post .rdate dl.price dd {
			padding-top: 15px;
		}
	#main.idphoto .post .rdate dd p {
		padding-top: 10px;
		color: #ff6378;
		font-size: 18px;
		font-weight: bold;
		text-align: right;
	}
	#main.idphoto .post .rdate dd p span {
		float: left;
		width: 125px;
		padding: 0 10px;
		font-size: 12px;
		line-height: 1.16;
	}
	#main.idphoto .post .rdate dd ul {
		height:58px;
	}
	#main.idphoto .post .rdate dd li {
		float: left;
	}
		#main.idphoto .post .rdate dd li img {
			margin: 0 0 0 9px;
		}
	#main.idphoto .post table {
		border-collapse: collapse;
		/*border: 1px solid #654343;*/
	}
		#main.idphoto .post table.mgl35 {
			margin: 10px 0 10px 35px;
		}
		#main.idphoto .post table.mgl25 {
			margin: 0 0 0 25px;
		}
	#main.idphoto .post table.pricelist th {
		padding: 10px 10px;
		background: #96cfcf;
		color: #fff;
		font-weight: bold;
		border: 1px solid #654343;
	}
		#main.idphoto .post table.pricelist .taC {
			text-align: center;
		}
		#main.idphoto .post table.pricelist .taR {
			text-align: right;
		}
		#main.idphoto .post table.pricelist .middle {
			vertical-align: middle;
			line-height: 3.0;
		}
	#main.idphoto .post table.pricelist td {
		padding: 10px 10px 10px 5px;
		border: 1px solid #654343;
	}
		#main.idphoto .post table.pricelist td p {
			padding: 0 0 0 50px;
			margin: 0;
		}
	#main.idphoto .post table.pricelist td span {
		float: right;
	}
