/*1カラム
-------------------------------------------------------------- */
/*----------------------------------------
	feature(キノシタの強み)
---------------------------------------*/
#main.feature h3{
	background: url(../images/feature/ttl.gif) 30px 0 no-repeat;

}

#main.feature .detail{
	padding:30px 0 15px;
}
#main.feature .detail2{
	padding:10px 0 15px;
}
#main.feature .detail .leftArea,
#main.feature .detail2 .leftArea{
	width:285px;
	text-align:center;
	float:left;
}
#main.feature .detail2 .leftArea{
	width:310px;
	padding-top:22px;
}

#main.feature .detail .leftArea p{
	color:#654343;
	line-height:1.1;
}
#main.feature .detail .leftArea p img{
	margin-bottom: 10px;
}

#main.feature .detail .rightArea{
	width:550px;
	min-height:140px;
	position: relative;
	float:right;
	padding:20px 0;
	background:  url(../images/feature/bg_03.png) no-repeat bottom right;
	
}
#main.feature .detail2 .rightArea{
	width:430px;
	height:320px;
	position: relative;
	float:right;
	background: url(../images/feature/bg_02.gif) no-repeat top left;
}

#main.feature .detail .rightArea .areaHead{
	width:550px;
	position: absolute;
	text-align:center;
	left:0;
	top:-20px;
}
#main.feature .detail .rightArea h5{
	color:#654343;
	line-height:1.6;
	font-size:18px;
	font-weight:normal;
	padding:0 15px
}

#main.feature .detail .rightArea p{
	color:#654343;
	line-height:1.6;
	padding:10px 15px 0;
}

#main.feature .detail2 dl{
	padding:85px 58px 0 35px;
	color:#654343; 
	line-height:1.6;
}
#main.feature .detail2 dt{
	width:5.5em;
	float:left;
	padding-top:15px;
}
#main.feature .detail2 dd{
	width:220px;
	float:left;
	padding-top:15px;
}


/*----------------------------------------
	access
---------------------------------------*/
#main.access h3 {
	background: url(../images/access/ttl.gif) 30px 0 no-repeat;
}

#main.access .map{
	width:670px;
	margin:0 auto 25px;
}
#main.access .mapInner{
	border:1px #CCCCCC solid;
	padding:15px 13px 25px;
	background-color:#FFFFFF;
	text-align:right;
}
#main.access .mapInner iframe{
	margin-bottom:5px;
}

#main.access .mapInfo{
	width:670px;
	margin:0 auto;
}
#main.access .mapInfo .leftArea{
	width:350px;
	float:left;
}
#main.access .mapInfo .rightArea{
	width:310px;
	float:left;
}
#main.access .mapInfo .rightArea h4{
	clear:none;
	font-size:18px;
	font-weight:normal;
	background: url(../images/access/line.gif) left bottom repeat-x;
	padding:0 0 0 10px;
	margin-bottom:10px;
}
#main.access .mapInfo .rightArea p{
	padding:0 0 0 10px;
	margin-bottom:20px;
}


/*----------------------------------------
	copyright(著作権について)
---------------------------------------*/
#main.copyright h3 {
	background: url(../images/copyright/ttl.gif) 30px 0 no-repeat;

}


/*----------------------------------------
	privacy(プライバシー)
---------------------------------------*/
#main.privacy h3 {
	background: url(../images/privacy/ttl.gif) 30px 0 no-repeat;

}
#main.privacy ul{
	padding:30px 0;
}
#main.privacy li {
	padding-left:2em;
	padding-bottom:20px;
	text-indent:-2em;
}


/*----------------------------------------
	sitemap
---------------------------------------*/
#main.sitemap div.entry {
	padding: 0 0 50px 0;
	width: 960px;
}

#main.sitemap h3 {
	background: url(../images/sitemap/ttl_01.gif) 30px 0 no-repeat;
}

#main.sitemap h3.menu {
	background: url(../images/sitemap/ttl_02.gif) 30px 0 no-repeat;
}

#main.sitemap #menu_photo:after,
#main.sitemap #menu_sitemap:after {
	content:".";
	height:0;
	clear:both;
	display:block;
	visibility:hidden;
	font-size: 0.1em;
	hine-height: 0; 
	}
/*---
For IE
-----*/
#main.sitemap #menu_photo {
	display:inline-block;
	padding: 0 0 46px 30px;
	width: 930px;
	}
#main.sitemap #menu_sitemap {
	display:inline-block;
	padding: 0 0 0 81px;
	width: 880px;
	}
/*MacIE \*/
* html #main.sitemap #menu_photo,
* html #main.sitemap #menu_sitemap {height: 1em;}
#main.sitemap #menu_photo,
#main.sitemap #menu_sitemap {display: block;}
/*  */

#main.sitemap #menu_photo ul li {
	float:left;
	padding: 0 15px 16px 0;
}

#main.sitemap #menu_photo ul li img {
	vertical-align: top;
}

#main.sitemap #menu_sitemap a:link {
	color: #654343;
}

#main.sitemap #menu_sitemap a:hover {
	color: #ff6378;
}

#main.sitemap #menu_sitemap ul {
	float: left;
	font-size: 120%;
	width: 305px;
}

#main.sitemap #menu_sitemap ul.left {
	width: 350px;
}

#main.sitemap #menu_sitemap ul.right {
	width: 202px;
}

#main.sitemap #menu_sitemap ul li ul {
	float:none;
	font-size: 80%;
	padding: 0 0 9px 0;
}

#main.sitemap #menu_sitemap ul li {
	background: url(../images/sitemap/pt.gif) left 7px no-repeat;
	padding: 0 0 0 18px;
	line-height: 2.1em;
}

#main.sitemap #menu_sitemap ul li ul li {
	background: url(../images/sitemap/pt.gif) left 5px no-repeat;
	line-height: 2.1em;
}

#main.sitemap #menu_sitemap ul li.photo,
#main.sitemap #menu_sitemap ul li.nagare {
	margin: 0 0 30px 0;
}

#main.sitemap #menu_sitemap ul li.tuyomi {
	margin: 0 0 27px 0;
}



/*----------------------------------------
	contact(お問い合わせ)
---------------------------------------*/
#main.contact h3 {
	background: url(../images/contact/ttl.gif) 30px 0 no-repeat;
}
#main.contact .entry,
#main.contact .entry th,
#main.contact .entry td,
#main.contact .entry a {
    color: #654343;
	font-size: 14px;
}
#main.contact .entry a:link, #main.contact .entry a:visited {
	text-decoration: underline;
}
#main.contact .entry a:hover, #main.contact .entry a:active {
	text-decoration: none;
}
#main.contact .entry #message-container-input {
	padding-bottom: 40px;
}
#main.contact .entry #message-container-input strong {
	font-size: 24px;
	font-weight: normal;
}
#main.contact .entry strong,
#main.contact .entry .red {
    color: #ff6378;
}
#main.contact .entry th .red {
	padding-left: 25px;
}
#main.contact .entry span.submessage {
    font-size: 80%;
    font-weight: normal;
}
#main.contact .entry i {
	font-size: 24px;
	vertical-align: -3px;
	padding-right: 3px;
}
#main.contact .entry td,
#main.contact .entry .txt,
#main.contact .entry .require {
	font-size: 12px;
}
/*form*/
#main.contact .entry .contact-form-input li {
	float: left;
}
#main.contact .entry td .example {
	padding: 10px 0 0 10px;
	font-size: 11px;
	line-height: 1.4;
}
#main.contact .entry .menu li {
	width: 11em;
}
#main.contact .entry .reserve li {
	width: 18em;
}
#main.contact .entry .txtbox {
	height: 20px;
	margin-bottom: 10px;
}
#main.contact .entry .details {
	width: 680px;
}
#main.contact .entry .contact-form-input .customer th {
	width: 10em;
	font-size: 12px;
	padding-left: 35px !important;
	padding-top: 7px;
}
#main.contact .entry .contact-form-input .customer th.thead {
	width: auto;
	font-size: 14px;
	padding-left: 10px !important;
	padding-top: 0;
}
#main.contact .entry .contact-form-input .customer td {
	padding: 0 0 20px 0 !important;
}
#main.contact .entry .customer td.pl2em {
	padding-left: 2em !important;
}
#main.contact .entry .customer .name .error {
	margin-left: 2em !important;
}
#main.contact .entry .customer td.tleft {
	width: 230px;
}
#main.contact .entry .customer .t01 {
	width: 170px;
}
#main.contact .entry .customer .t02 {
	width: 380px;
}
#main.contact .entry .customer .t03 {
	width: 220px;
}
#main.contact .entry .customer .t04 {
	width: 110px;
}
#main.contact .entry .customer .t05 {
	width: 300px;
}
#main.contact .entry .customer .content-name,
#main.contact .entry .customer .subcontent {
	padding: 0 1em 0 0;
}
#main.contact .entry .customer .sbox,
#main.contact .entry .customer .dow,
#main.contact .entry .customer .adr {
	padding: 10px 0 0;
}
#main.contact .entry .customer .dow li {
	width: 6em;
}
#main.contact .entry .customer td .content {
	display: inline-block;
	width: 10em;
}
#main.contact .entry .customer .customer-adr .error {
	margin-left: 11em !important;
}
#main.contact .entry .customer .customer-adr p {
	padding: 40px 0 30px;
}
#main.contact .entry .customer .customer-adr p a {
	font-size: 12px;
}
#main.contact .entry .ime-off {
	ime-mode: disabled;
}
/*confirm*/
#main.contact .entry #message-container-confirm {
	padding-bottom: 40px;
}
#main.contact .entry .contact-form-confirm td {
	font-size: 16px;
}
#main.contact .entry .contact-form-confirm .customer th {
	font-size: 12px;
	padding-top: 8px;
	padding-bottom: 20px;
}
#main.contact .entry .contact-form-confirm .customer td {
	padding: 0 0 20px 50px;
}
#main.contact .entry .contact-form-confirm .customer td span {
	font-size: 80%;
}
#main.contact .entry .contact-form-confirm .customer td.adr span {
	display: inline-block;
	width: 12em;
}
