/*----------------------------------------
	faq
---------------------------------------*/
#main.faq h3 span{
	background: url(../images//faq/ttl.gif) 0 0 no-repeat;
}

#main.faq .cateMenu{
	margin:0 0 35px 15px;
}
#main.faq .cateMenu li{
	margin-right:4px;
}

#main.faq .cateMenu li{
	margin-right:4px;
}

#main.faq .entry dl{
	margin:0 0 15px 15px;
	width:620px;
}
#main.faq .entry dt{
	padding:0 0 0 0;
	background: url(../images//faq/q.gif) 0 0 no-repeat;
	font-size:14px;
	font-weight:bold;
}
#main.faq .entry dt:after, #main.faq .entry dt{
	after: " ";
	content: " ";
}
#main.faq .entry dt:after, #main.faq .entry dt .after {
	height:8px;
	display: block;
	position: relative;
	background: url(../images//faq/line.gif) left top no-repeat;
}

#main.faq .entry dt p{
	padding:0 15px 13px 43px;
	float:left;
}
#main.faq .entry dt h4{
	padding:0 0 13px 0;
	clear:none;
	float:left;
}

#main.faq .entry dd{
	padding:5px 0 10px 42px;
	background: url(../images//faq/a.gif) 0 0 no-repeat;
	line-height:1.5;
	border-bottom:2px #dedfd8 solid;
}

#main.faq .solution_2clm {
	margin: 50px 0 15px 0;
	width:620px;
}
	#main.faq .solution_2clm dt {
		padding: 0 0 30px 0;
	}
	#main.faq .solution_2clm dd {
		float: left;
		padding: 0;
		width:284px;
		text-align:center;
	}

	#main.faq .solution_2clm dd p{
		padding-bottom: 20px;
		font-weight:bold;
	}
	#main.faq .solution_2clm dd.faq {
		background:none;
		padding-left: 0;
		float:right;
	}
	#main.faq .solution_2clm dd.contact {
		background:none;
		padding-left: 0;
	}
		#main.faq .solution_2clm dd a {
			width: 284px;
			height: 104px;
			display: block;
		}
		#main.faq .solution_2clm dd a:hover img {
			display: block;
		}
