/*----------------------------------------
	growup
---------------------------------------*/
#main.growup #primary .entry .copy h3 {
    background: url(../images/growup/ttl.gif) no-repeat scroll 0 0 transparent;
	height: 30px;
    width: auto;
}
#main.growup #primary .entry .copy p {
    padding: 0 10px 15px;
    line-height: 1.5;
}
#main.growup #primary .entry .copy ul {
    padding: 50px 0 55px;
    margin: 0 0 0 25px;
}
#main.growup #primary .entry .copy li {
   float:left;
   margin-right:15px;
}

#main.growup #primary .basic{
    position: relative;
    background: url(../images/growup/basic_bg.png) no-repeat scroll right top transparent;
    width: 625px;
    margin:0 0 40px 10px;
/*    min-height: 756px;*/
}
#main.growup #primary .basic:before, #main.growup #primary .basic .before {
	height:10px;
	display: block;
	position: relative;
	background: url(../images/growup/basic_head.png) left bottom no-repeat;
}
#main.growup #primary .basic:before, #main.growup #primary .basic{
	before: " ";
	content: " ";
}
#main.growup #primary .basic:after, #main.growup #primary .basic{
	after: " ";
	content: " ";
}
#main.growup #primary .basic:after, #main.growup #primary .basic .after {
	height:10px;
	display: block;
	position: relative;
	background: url(../images/growup/basic_foot.png) left bottom no-repeat;
}


#main.growup #primary .basicInner{
	padding:57px 17px 0 17px;
	background: url(../images/growup/basic_line.png) 0 0 repeat-y;
}
#main.growup #primary .basicInner h4{
	position:absolute;
	left:0;
	top:-18px;
}
#main.growup #primary .basicInner .leftArea{
   width: 233px;
   float: left;
}
#main.growup #primary .basicInner .leftArea p{
   margin:0 0 10px 20px;
}

#main.growup #primary .basicInner .rightArea{
   width: 352px;
   float: right;
}
#main.growup #primary .basicInner .bCopy{
	padding:5px 0 10px;
}
#main.growup #primary .basicInner .rightArea .indent{
	padding:0 0 0 54px;
}
#main.growup #primary .basicInner .rightArea p.price{
   color:#6c9f22;
   font-weight:bold;
   line-height:1.4;
}
#main.growup #primary .basicInner .rightArea p.textCenter{
   font-size:12px;
}
#main.growup #primary .basicInner .rightArea p.textCenter strong{
   font-size:20px;
}
#main.growup #primary .basicInner .rightArea p.textRight{
   font-size:11px;
}
#main.growup #primary .basicInner .rightArea p.textRight strong{
   font-size:14px;
}

#main.growup #primary .basicInner .rightArea th,
#main.growup #primary .basicInner .rightArea td{
   line-height:1.6;
}
#main.growup #primary .basicInner .rightArea th{
   text-align:right;
   font-weight:bold;
   color:#6c9f22;
   padding-right:2.5em;
}
#main.growup #primary .basicInner .rightArea td.price{
/*   width: 7em;*/
   text-align:right;
   font-size:20px;
   font-weight:bold;
   color:#6c9f22;
}

#main.growup #primary .basicInner .rightArea .floatList{
   border-top:1px #6c9f22 solid;
   margin:10px 0 0 0;
   padding:15px 0 20px 67px;
}
#main.growup #primary .basicInner .rightArea .floatList li{
   width:53px;
   margin-right:5px;
}
#main.growup #primary .basicInner .rightArea .floatList li.rightend{
   margin-right:0;
}


#main.growup #primary .dressing{
    position: relative;
    background: url(../images/growup/dressing_bg02.png) no-repeat scroll right top transparent;
    width: 625px;
    margin:0 0 40px 10px;
}
#main.growup #primary .dressingInner{
	padding:32px 30px 10px 15px;
	background: url(images/growup/dressing_bg01.png) 0 0 repeat-y;
}
#main.growup #primary .dressingInner h4{
	position:absolute;
	left:0;
	top:-10px;
}

#main.growup #primary .dressingInner .leftArea{
   width: 262px;
   float: left;
}
#main.growup #primary .dressingInner .leftArea p{
   margin:0 0 5px 0;
}

#main.growup #primary .dressingInner .rightArea{
   width: 303px;
   float: right;
   padding:15px 0 0 0;
}

#main.growup #primary .dressingInner .rightArea tr{
	background: url(../images/growup/line_01.gif) left bottom repeat-x;
}
#main.growup #primary .dressingInner .rightArea th,
#main.growup #primary .dressingInner .rightArea td{
   line-height:1.6;
   padding:5px 0 10px;
}
#main.growup #primary .dressingInner .rightArea th{
   text-align:center;
   vertical-align: middle;
   font-size:11px;
   line-height:1.2;
}
#main.growup #primary .dressingInner .rightArea td.price{
   text-align:center;
}


#main.growup #primary .plan01{
    position: relative;
    background: url(../images/growup/course01_bg01.png) repeat-y scroll left top transparent;
    width: 625px;
    margin:35px 0 0 10px;
}
#main.growup #primary .plan01 .planInner{
    background: url(../images/growup/course01_bg02.png) no-repeat scroll right top transparent;
    padding:54px 0 20px 15px;
}
#main.growup #primary .plan01 h5{
	position:absolute;
	left:0;
	top:-18px;
}
#main.growup #primary .plan01 ul{
    background: url(../images/growup/course01_list_bg.png) no-repeat scroll left top transparent;
    margin:12px 0 0 0;
    padding:12px 45px 11px 7px;
}


#main.growup #primary .plan02{
    position: relative;
    background: url(../images/growup/course02_bg01.png) repeat-y scroll left top transparent;
    width: 625px;
    margin:35px 0 0 10px;
}
#main.growup #primary .plan02 .planInner{
    background: url(../images/growup/course02_bg02.png) no-repeat scroll left bottom transparent;
    padding:57px 0 20px 15px;
}
#main.growup #primary .plan02 h5{
	position:absolute;
	left:0;
	top:-14px;
}
#main.growup #primary .plan02 ul{
    background: url(../images/growup/course02_list_bg.png) no-repeat scroll left top transparent;
    margin:12px 0 0 0;
    padding:12px 45px 11px 7px;
}

#main.growup #primary .plan03{
    position: relative;
    background: url(../images/growup/course03_bg01.png) repeat-y scroll left top transparent;
    width: 625px;
    margin:35px 0 0 10px;
}
#main.growup #primary .plan03 .planInner{
    background: url(../images/growup/course03_bg02.png) no-repeat scroll right bottom transparent;
    padding:48px 0 20px 15px;
}
#main.growup #primary .plan03 h5{
	position:absolute;
	left:0;
	top:-23px;
}
#main.growup #primary .plan03 ul{
    background: url(../images/growup/course03_list_bg.png) no-repeat scroll left top transparent;
    margin:12px 0 0 0;
    padding:12px 45px 11px 7px;
}


#main.growup #primary .plan04{
    position: relative;
    background: url(../images/growup/course04_bg01.png) repeat-y scroll left top transparent;
    width: 625px;
    margin:35px 0 0 10px;
}
#main.growup #primary .plan04 .planInner{
    background: url(../images/growup/course04_bg02.png) no-repeat scroll right top transparent;
    padding:44px 0 20px 15px;
}
#main.growup #primary .plan04 h5{
	position:absolute;
	left:0;
	top:-28px;
}
#main.growup #primary .plan04 ul{
    background: url(../images/growup/course04_list_bg.png) no-repeat scroll left top transparent;
    margin:12px 0 0 0;
    padding:12px 45px 11px 7px;
}




#main.growup #primary .plan li {
    float: left;
    margin: 0 5px 0 0;
}
#main.growup #primary .plan li img{
vertical-align: bottom;
}
#main.growup #primary .plan li.price {
   float: right;
    margin: 0 0 0 0;
   text-align:right;
   color:#72a226;
   line-height:52px;
}

#main.growup #primary .plan li.price  a {
   color:#72a226;
}

#main.growup #primary .plan li.price strong{
   font-size:20px;
   padding-left:5px;
}


#main.growup #primary .ones{
    position: relative;
    background: url(../images/growup/dressing_bg03.png) no-repeat scroll right top transparent;
    width: 527px;
    margin:45px 0 0 60px;
}
#main.growup #primary .onesInner{
    background: url(../images/growup/dressing_bg01.png) repeat-y scroll left top transparent;
    padding:54px 0 20px 33px;
}

#main.growup #primary .onesInner h4{
	position:absolute;
	left:0;
	top:-12px;
}

#main.growup #primary .onesInner tr{
	background: url(../images/growup/line_02.gif) left bottom repeat-x;
}
#main.growup #primary .onesInner th,
#main.growup #primary .onesInner td{
   line-height:1.6;
   padding:5px 5px 10px;
}
#main.growup #primary .onesInner th{
   text-align:right;
   vertical-align: middle;
   font-size:11px;
   line-height:1.2;
   padding-right:1.5em;
}
#main.growup #primary .onesInner td.price{
   text-align:right;
   width: 35%;

}

#main.growup #primary .guide{
    margin:40px 0 0 0;
}
#main.growup #primary .guide h4{
    margin:0 0 10px;
}

#main.growup #primary .guide li{
    font-size:14px;
    padding:0 0 5px 15px;
}


/*成人・卒業プラン詳細*/
#main.plan_growup #primary .entry h3 {
    background: url(../images/growup/sttl_03.png) no-repeat scroll 0 0 transparent;
    width: auto;
}

#main.plan_growup #primary .plan01,
#main.plan_growup #primary .plan02,
#main.plan_growup #primary .plan03,
#main.plan_growup #primary .plan04{
    position: relative;
    background: url(../images/growup/plan/plan01_bg01.png) repeat-y scroll left top transparent;
    width: 625px;
    margin:40px 0 20px 10px;
}

#main.plan_growup #primary .plan01 .planInner,
#main.plan_growup #primary .plan02 .planInner,
#main.plan_growup #primary .plan03 .planInner,
#main.plan_growup #primary .plan04 .planInner{
    background:none;
    padding:55px 0 15px 0;
}

#main.plan_growup #primary .plan01 .planInner{
    background: url(../images/growup/plan/plan01_bg02.png) no-repeat scroll right top transparent;
}
#main.plan_growup #primary .plan02 .planInner{
    background: url(../images/growup/plan/plan01_bg03.png) no-repeat scroll left bottom transparent;
}
#main.plan_growup #primary .plan03 .planInner{
    background: url(../images/growup/plan/plan01_bg04.png) no-repeat scroll right top transparent;
}
#main.plan_growup #primary .plan04 .planInner{
    background: url(../images/growup/plan/plan01_bg05.png) no-repeat scroll right top transparent;
}

#main.plan_growup #primary .planInner h4{
	position:absolute;
	left:0;
	top:-20px;
}

#main.plan_growup #primary .planInner .bCopy{
	font-size:12px;
	line-height:1.4;
	padding:0 40px 10px 30px;
}


#main.plan_growup #primary #c01.plan01 .rightArea{
	padding-left:245px;
	background: url(../images/growup/plan/img_01.png) no-repeat scroll left 47px transparent;
}

#main.plan_growup #primary .rightArea dl{
	border-bottom:1px #89c32e solid;
	position:relative;
}
#main.plan_growup #primary .rightArea dt{
	position:absolute;
	left:0;
	top:;
}
#main.plan_growup #primary .rightArea dd{
	text-align:right;
	line-height:1.4;
	padding-bottom:15px;
}
#main.plan_growup #primary .rightArea dd span{font-size:11px;}
#main.plan_growup #primary .rightArea dd strong{color:#72a226; font-size:14px;}
#main.plan_growup #primary .rightArea dd span strong{font-size:12px;}
#main.plan_growup #primary .rightArea dd strong.price{font-size:20px;}


#main.plan_growup #primary #c01.plan01 .rightArea dl,
#main.plan_growup #primary #c02.plan02 .rightArea dl{
	width:360px;
	margin:0 0 10px 0;
}

#main.plan_growup #primary .plan03 .rightArea dl,
#main.plan_growup #primary .plan04 .rightArea dl{
	width:290px;
	margin:0 0 20px 0;
}

#main.plan_growup #primary #c03.plan03 .rightArea dl{padding:0 0 30px 0;}
#main.plan_growup #primary #c04.plan03 .rightArea dl{margin:0 0 10px 0;}
#main.plan_growup #primary #c04.plan03 .rightArea dd{padding-bottom:10px;}
#main.plan_growup #primary #c05.plan03 .rightArea dl{padding:0 0 30px 0;}
#main.plan_growup #primary #c06.plan04 .rightArea dl{padding:0 0 30px 0;}



#main.plan_growup #primary #c01.plan01 .rightArea th,
#main.plan_growup #primary #c01.plan01 .rightArea td{font-size:11px; line-height:1.3; vertical-align:top;}
#main.plan_growup #primary #c01.plan01 .rightArea th{text-align:center;}
#main.plan_growup #primary #c01.plan01 .rightArea td{text-align:right;}
#main.plan_growup #primary #c01.plan01 .rightArea td.price{font-size:12px; padding-top:0;}
#main.plan_growup #primary #c01.plan01 .rightArea td.price strong{font-size:20px; color:#72a226;}
#main.plan_growup #primary #c01.plan01 .rightArea td.price span{font-size:14px; font-weight:bold; color:#72a226;}

#main.plan_growup #primary .plan01 ul,
#main.plan_growup #primary .plan02 ul,
#main.plan_growup #primary .plan03 ul,
#main.plan_growup #primary .plan04 ul {
    background:none;
    margin: 0;
    padding: 0;
}
#main.plan_growup #primary #c01.plan01 ul.floatList{
    margin: 0 0 15px 0;
    padding: 15px 0 15px;
	width:360px;
	border-bottom:1px #89c32e solid;
}
#main.plan_growup #primary #c02.plan02 ul.floatList {
    margin: 0;
    padding: 0;
	width:360px;
}

#main.plan_growup #primary .rightArea ul.floatList li {float:right; margin-left: 5px;}
#main.plan_growup #primary .rightArea ul.floatList li.lefttop {float:left; margin-left:0;}


#main.plan_growup #primary #c01.plan01 ul.textList{
    margin: 0 0 10px 0;
    padding: 0 0 0 25px;
}
#main.plan_growup #primary #c01.plan01 ul.textList li{
	line-height:1.3;
    padding: 0 0 15px 0;
}
#main.plan_growup #primary #c01.plan01 ul.textList li.price{
	font-size:14px;
}
#main.plan_growup #primary #c01.plan01 ul.textList li.price strong{
	font-size:20px;
	color:#72a226;
}


#main.plan_growup #primary #c02.plan02 .leftArea{
	width:245px;
	float:left;
	text-align:right;
}
#main.plan_growup #primary #c02.plan02 .rightArea{
	width:360px;
	float:left;
}

#main.plan_growup #primary .plan03 .leftArea,
#main.plan_growup #primary .plan04 .leftArea{
	width:300px;
	float:left;
	text-align:right;
}
#main.plan_growup #primary .plan03 .rightArea,
#main.plan_growup #primary .plan04 .rightArea{
	width:290px;
	float:left;
}
#main.plan_growup #primary .plan03 .leftArea img,
#main.plan_growup #primary .plan04 .leftArea img{
    margin-right:10px;
}

#main.plan_growup #primary #c03.plan03 .rightArea{padding-top:25px;}
#main.plan_growup #primary #c05.plan03 .rightArea{padding-top:25px;}
#main.plan_growup #primary #c06.plan04 .rightArea{padding-top:25px;}

#main.plan_growup #primary .priceText{
	font-size:18px;
	font-weight:bold;
	color:#72a226;
}

#main.plan_growup #primary .caution {
    padding: 0 0 0 10px;
}
