/*----------------------------------------
	お子様
---------------------------------------*/
#main.kids #primary h3 {	/*コピー*/
	width: 630px;
	height: 35px;
	margin: 0 0 12px 0;
	padding: 0 0 0 10px;
	background: url(../../kinoshita_kids/images/home/ttl_bg.gif) 0 bottom no-repeat;
	font-size: 18px;
	text-indent: 100%;
	white-space: nowrap;
	overflow:hidden;
	line-height: 35px;
}
#main.kids #primary h3 span {
	background: url(../../kinoshita_kids/images/home/ttl.gif) no-repeat;
}
#main.kids #primary .copy p {
	padding: 0 10px 15px 15px;
}
#main.kids #primary .copy ul {
	margin: 0 0 20px 37px;
}
#main.kids #primary .copy li {
	float: left;
	margin: 0 7px 0 0;
}
#main.kids #primary .planList dt img {
	float: left;
	margin: 0 5px 0 0;
}
.kidsHome #main.kids #primary .planList dd li.price {
	line-height: 72px;
	font-weight:bold;
}
.kidsHome #main.kids #primary .planList dd li.price_01 {
	line-height: 17px;
	font-weight:bold;
	font-size:18px;
}
.kidsHome #main.kids #primary .planList dd li.price_01 span {
	font-size:11px;
}
.kidsHome #main.kids #primary .planList dd li.price_01 img {
	margin:4px 0 0 0;
}
.kidsHome #main.kids #primary .planList dd li.price a{
	color:#FF6378;
}
.kidsHome #main.kids #primary .planList dd li.price_02 a{
	color:#FF6378;
	font-size:18px;
	font-weight:bold;
}

.mr08{
	margin-right:8px;
}



/*お子様・七五三共通*/
.kidsHome #main #primary .planList dl,
.kids #main #primary .planList dl {
	width: 605px;
	margin: 0 0 0 25px;
	font-size: 11px;
	line-height: 1.6;
}
.kidsHome #main #primary .planList dd,
.kids #main #primary .planList dd {
	clear: both;
	margin: 0 0 15px 0;
}
.kidsHome #main #primary .planList dd:before, .kidsHome #main #primary .planList dd,
.kids #main #primary .planList dd:before, .kids #main #primary .planList dd {
	before: " ";
	content: " ";
}
.kidsHome #main #primary .planList dd:before, .kidsHome #main #primary .planList dd .before,
.kids #main #primary .planList dd:before, .kids #main #primary .planList dd .before {
	height: 4px;
	display: block;
	vertical-align: bottom;
	font-size: 0;
	background: url(../../kinoshita_kids/images/home/line_head.gif) no-repeat;
}
.kidsHome #main #primary .planList dd:after, .kidsHome #main.kids #primary .planList dd,
.kids #main #primary .planList dd:after, .kids #main #primary .planList dd {
	after: " ";
	content: " ";
}
.kidsHome #main #primary .planList dd:after, .kidsHome #main.kids #primary .planList dd .after,
.kids #main #primary .planList dd:after, .kids #main #primary .planList dd .after {
	height: 4px;
	display: block;
	vertical-align: bottom;
	font-size: 0;
	background: url(../../kinoshita_kids/images/home/line_foot.gif) no-repeat;
}
.kidsHome #main #primary .planList dd ul,
.kids #main #primary .planList dd ul {
	padding: 7px 0 5px 8px;
	background: url(../../kinoshita_kids/images/home/line_bg.gif) repeat-y;
	position: relative;
}
.kidsHome #main #primary .planList dd li,
.kids #main #primary .planList dd li {
	float: left;
}
.kids #main #primary .planList dd li.icon {
	width: 300px;
	padding: 5px 0 0 0;
}
.kidsHome #main #primary .planList dd ol li,
.kids #main #primary .planList dd ol li {
	margin: 0 0 5px 4px;
}
	.kidsHome #main #primary .planList dd li img,
	.kids #main #primary .planList dd li img {
		vertical-align: bottom;
	}
.kidsHome #main #primary .planList dd li.price,
.kids #main #primary .planList dd li.price {
	position: absolute;
	padding: 0 15px 0 0;
	top: 3px;
	right: 0;
	color: #ff6378;
	font-size: 16px;
}

/*お子様下層共通*/
.kids #main #primary .entry .copy  h3 {
	width: 650px;
	height: 35px;
	margin: 0 0 10px 0;
	background: url(../../kinoshita_kids/images/common/ttl_bg.gif) 5px bottom no-repeat;
	text-indent: 150%;
	white-space:nowrap;
	overflow:hidden;
	position: relative;
	line-height: 35px;
}
.kids #main #primary .entry .copy  h3.greenbg {
	background: url(../images/common/primary_ttl_bg.gif) no-repeat;
	height: 46px;
	line-height: 40px;
}

.kids #main #primary .copy p {
	padding: 0 10px 15px 15px;
	color: #2a2a2a;
}
.kids #main #primary .copy ul {
	margin: 30px 0 35px 37px;
}
.kids #main #primary .copy li {
	float: left;
	margin: 0 7px 0 0;
}
.kids #main #primary .basic {
	margin: 20px 0 40px 0;
	padding: 56px 0 0 10px;
	position: relative;
	background-color: rgba(253,238,200,0.45);
filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#66fdeec9,endcolorstr=#66fdeec9,gradienttype=0);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#66fdeec9,endColorstr=#66fdeec9)";
	zoom:1;
}
.kids #main #primary .basic h4 {
	position:absolute;
	left:0;
	top:-20px;
}
.kids #main #primary .basic .bCopy{
	font-size:14px;
	line-height:1.6;
	padding:0 0 10px 10px;
}
.kids #main #primary .basic .leftArea{
   width: 265px;
   float: left;
}
.kids #main #primary .basic .rightArea{
   width: 365px;
   float: left;
}

.kids #main #primary .basic .rightArea table {
	margin: 0 0 0 auto;
}
.kids #main #primary .basic .rightArea td{
	width: 7em;
	color: #ff6378;
	text-align:right;
	line-height:1.8;
	font-weight: bold;
}

.kids #main #primary .basic .bCap{
	font-size:10px;
	line-height:1.2;
	padding:5px 0 0 10px;
}
.kids #main #primary .basic .rightArea hr {
	height: 11px;
	margin: 5px 0 0;
	background: transparent url(../../kinoshita_kids/images/common/line_01.gif) 5px 0 no-repeat;
}
.kids #main #primary .basic .rightArea dl img {
	vertical-align: bottom;
}
.kids #main #primary .basic .rightArea dl {
	padding: 10px 0 25px 35px;
}
.kids #main #primary .basic .rightArea dt,
.kids #main #primary .basic .rightArea dd {
	float: left;
	margin: 0 5px 0 0;
}
.kids #main #primary .basic .rightArea dt {
	margin: 0 10px 0 0;
}
.kids #main #primary .basic .rightArea dd {
	margin: 0 5px 0 0;
}

.kids #main #primary .basic_01 {
	padding: 92px 0 0 22px;
	width:648px;
	height:280px;
	position: relative;
	background: url(../../kinoshita_kids/images/shichigosan/basic_bg.jpg) no-repeat;
	zoom:1;
}
.kids #main #primary .basic_01 h4 {
	position:absolute;
	left:0;
	top:-6px;
	left:-5px;
}
.kids #main #primary .basic_01 .basic_img_01{
	position:absolute;
	top:18px;
	right:125px;
	overflow:hidden;
}
.kids #main #primary .basic_01 .basic_img_01 table{
	width:100%;
}
.kids #main #primary .basic_01 .basic_img_01 td{
	color: #ff6378;
	font-weight: bold;
	line-height: 1.5;
	text-align: right;
}
.kids #main #primary .basic_01 .basic_img_01 .bCap {
	font-size:10px;
	line-height:18px;
	margin:10px 0 0 5px;
}
.kids #main #primary .basic_01 .basic_img_01 .price_txt_01 {
	font-weight:bold;
	text-align:right;
	line-height: 38px;
	color: #ff6378;
	margin-bottom:5px;
}
.kids #main #primary .basic_01 .basic_img_01 .price_txt_01 span {
    background: url("../../kinoshita_kids/images/shichigosan/plan/line_red.png") no-repeat scroll 0 33px rgba(0, 0, 0, 0);
    display: inline-block;
    font-size: 26px;
    height: 35px;
    letter-spacing: 0.5px;
    margin: 0 3px;
    padding-bottom: 7px;
}

.kids #main #primary .basic_01 .basic_img_01 .price {
   font-size: 18px;
	 text-align:left;
}

.kids #main #primary .basic_01 .basic_img_02{
	position:absolute;
	width:92px;
	top:15px;
	right:28px;
}
.kids #main #primary .basic_01 .leftArea{
   width: 278px;
   float: left;
}
.kids #main #primary .basic_01 .rightArea{
   width: 365px;
   float: left;
}

.kids #main #primary .basic_01 .rightArea hr {
	height: 11px;
	margin: 5px 0 0;
	background: transparent url(../../kinoshita_kids/images/common/line_01.gif) 5px 0 no-repeat;
}
.kids #main #primary .basic_01 .rightArea dl img {
	vertical-align: bottom;
}
.kids #main #primary .basic_01 .rightArea dl {
	position:absolute;
	width:250px;
	top:238px;
	left:308px;
}
.kids #main #primary .basic_01 .rightArea dt,
.kids #main #primary .basic_01 .rightArea dd {
	float: left;
	margin: 0 10px 0 0;
}
.kids #main #primary .basic_01 .rightArea dt {
	margin: 0 10px 0 0;
}
.kids #main #primary .basic_01 .rightArea dd {
}

.kidsHome #main #primary .planList h4,
.kids #main #primary .planList h4,
.kids #main #primary .plan h4 {
	margin-bottom: 10px;
}
.kidsHome #main #primary .planList h4 span,
.kids #main #primary .planList h4 span,
.kids #main #primary .plan h4 span {
	background: url(../images/common/ttl_plan.gif) no-repeat;
}

.kids #main #primary .option {
	margin: 30px 0 40px 0;
	position: relative;
	background-color: rgba(218,205,143,0.23);
filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#36dacd8f,endcolorstr=#36dacd8f,gradienttype=0);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#36dacd8f,endColorstr=#36dacd8f)";
	zoom:1;
}
.kids #main #primary .option .leftArea{
   width: 310px;
   float: left;
   padding: 0 0 15px 20px;
}
.kids #main #primary .option .rightArea{
   width: 305px;
   float: left;
   padding: 0 0 15px 0;

}

.kids #main #primary .option .rightArea table {
	margin: 0 auto 0 auto;
}
.kids #main #primary .option .rightArea td{
	color: #ff6378;
	font-size:14px;
	line-height:1.8;
	font-weight: bold;
}
.kids #main #primary .option .rightArea td.price{
	width: 7em;
	text-align:right;
}
.kids #main #primary .option .bCap{
	font-size:11px;
	line-height:1.2;
	padding:10px 0 0 10px;
}
.kids #main #primary .option .rightArea hr {
	height: 11px;
	margin: 5px 0;
	background: transparent url(../../kinoshita_kids/images/common/line_02.gif) 5px 0 no-repeat;
}




/*七五三*/
#main.shichigosan #primary .entry h3 span {
	background: url(../../kinoshita_kids/images/shichigosan/ttl.gif) no-repeat;
}
#main.shichigosan #primary .entry h3.greenbg span {
	background: url(../images/common/ttl_plan.gif) no-repeat;
}

#main.shichigosan #primary .point {
	padding: 0 0 30px 0;
	overflow: hidden;
}
#main.shichigosan #primary .point h4,
#main.shichigosan #primary .planList h4 {
	width: 650px;
	height: 55px;
	background: url(../images/common/primary_ttl_bg.gif) no-repeat;
	text-indent: 100%;
	white-space:nowrap;
	overflow:hidden;
	position: relative;
	line-height: 40px;
}
	#main.shichigosan #primary .point h4 span,
	#main.shichigosan #primary .planList h4 span {
		display: block;
	}
#main.shichigosan #primary .point h4 span {
	background: url(../../kinoshita_kids/images/shichigosan/ttl01.gif) no-repeat;
}
#main.shichigosan #primary .point ul {
	width: 660px;
}
#main.shichigosan #primary .point li {
	float: left;
	margin: 0 10px 0;
}
#main.shichigosan #primary .point li img {
	vertical-align: bottom;
}

#main.shichigosan #primary .basic .rightArea .addition td {
	width: auto;
	padding-left: 1.5em;
	font-size: 14px;
	line-height:2.5;
}
#main.shichigosan #primary .planList dd li.price {
	line-height: 36px;
	z-index: 2;
}
#main.shichigosan #primary .planList dd li.detail {
	position: absolute;
	padding: 0 10px 3px 0;
	bottom: 0;
	right: 0;
	z-index: 1;
}

#main.shichigosan #primary .planList dd li.price_01 {
	line-height: 17px;
	font-weight:bold;
	font-size:18px;
}
#main.shichigosan #primary .planList dd li.price_01 span {
	font-size:11px;
}
#main.shichigosan #primary .planList dd li.price_01 img {
	margin:4px 0 0 0;
}

#main.shichigosan #primary .personal {
	padding: 0 0 30px 0;
}
#main.shichigosan #primary .personal h4 img {
	vertical-align: bottom;
}
#main.shichigosan #primary .personal table {
	margin: 0 auto;
}
#main.shichigosan #primary .personal tr {
	background: transparent url(../../kinoshita_kids/images/shichigosan/line_03.gif) left bottom no-repeat;
}
#main.shichigosan #primary .personal th {
	padding: 5px 1.5em 7px;
	text-align: left;
	font-size: 14px;
	font-weight: normal;
}
#main.shichigosan #primary .personal td {
	background: none;
	padding: 5px 1.5em;
	font-size: 14px;
	text-align: right
}

#main.shichigosan #primary .guide{
    margin:40px 0 0 0;
}
#main.shichigosan #primary .guide h4{
    margin:0 0 10px;
}

#main.shichigosan #primary .guide li{
    font-size:14px;
    color:#ff6378;
    padding:0 0 5px;
}

#main.shichigosan #primary .guide li li,
#main.shichigosan #primary .guide li dl{
    color:#654343;
}

#main.shichigosan #primary .guide li dl{
    padding:0 0 5px;
}
#main.shichigosan #primary .guide .indentList li{
    padding:0 0 0 1em;
}

#main.shichigosan #primary .option .option_txt01{
    color:#ff6378;
	font-size:16px;
	font-weight:bold;
	position:absolute;
	top:35px;
	left:377px;
}


/*七五三 プラン・料金*/
#main.plan_shichigosan #primary .plan01{
    position: relative;
    background: url(../../kinoshita_kids/images/shichigosan/plan/plan01_bg01.png) repeat-y scroll left top transparent;
    width: 647px;
    margin:25px 0 35px 0;
    padding:0 0 15px 0;
}

#main.plan_shichigosan #primary .plan01 .planInner{
    background:none;
    padding:65px 0 0 0;
}

#main.plan_shichigosan #primary .plan_01 h4,
#main.plan_shichigosan #primary .plan_02 h4,
#main.plan_shichigosan #primary .plan_03 h4,
#main.plan_shichigosan #primary .plan_04 h4,
#main.plan_shichigosan #primary .plan_07 h4,
#main.plan_shichigosan #primary .plan_08 h4{
	position:absolute;
	left:-7px !important;
	top:-12px !important;
}

#main.plan_shichigosan #primary .plan_01 .leftArea,
#main.plan_shichigosan #primary .plan_02 .leftArea,
#main.plan_shichigosan #primary .plan_03 .leftArea,
#main.plan_shichigosan #primary .plan_04 .leftArea,
#main.plan_shichigosan #primary .plan_07 .leftArea,
#main.plan_shichigosan #primary .plan_08 .leftArea{
   width: 280px !important;
   float: left !important;
   margin-left:22px;
}
#main.plan_shichigosan #primary .plan_01 .leftArea img,
#main.plan_shichigosan #primary .plan_02 .leftArea img,
#main.plan_shichigosan #primary .plan_03 .leftArea img,
#main.plan_shichigosan #primary .plan_07 .leftArea img,
#main.plan_shichigosan #primary .plan_08 .leftArea img{
   margin:0 10px 5px 0;
}

#main.plan_shichigosan #primary .plan_04 .leftArea img{
   margin:0 10px 0px 0 !important;
}

#main.plan_shichigosan #primary .plan_01 .rightArea,
#main.plan_shichigosan #primary .plan_02 .rightArea,
#main.plan_shichigosan #primary .plan_03 .rightArea,
#main.plan_shichigosan #primary .plan_04 .rightArea,
#main.plan_shichigosan #primary .plan_07 .rightArea,
#main.plan_shichigosan #primary .plan_08 .rightArea{
   width: 320px;
   float: left;
}

#main.plan_shichigosan #primary .plan_04 .rightArea{
	padding-top:0px !important;
}

#main.plan_shichigosan #primary .plan_02 .rightArea dd,
#main.plan_shichigosan #primary .plan_03 .rightArea dd,
#main.plan_shichigosan #primary .plan_07 .rightArea dd,
#main.plan_shichigosan #primary .plan_08 .rightArea dd{
	float:left;
	width:340px;
}

#main.plan_shichigosan #primary .plan_04 .rightArea dd{
	width:340px;
}

#main.plan_shichigosan #primary .plan_01,
#main.plan_shichigosan #primary .plan_04{
    position: relative;
    background: url(../../kinoshita_kids/images/shichigosan/plan/plan_bg01.jpg) no-repeat left top transparent;
    width: 647px;
	height:685px;
    margin:25px 0 35px 0;
    padding:0 0 0 0;
}
#main.plan_shichigosan #primary .plan_02{
    position: relative;
    background: url(../../kinoshita_kids/images/shichigosan/plan/plan_bg02.jpg) no-repeat left top transparent;
    width: 647px;
	height:764px;
    margin:0px 0 30px 0;
    padding:0 0 0 0;
}
#main.plan_shichigosan #primary .plan_03{
    position: relative;
    background: url(../../kinoshita_kids/images/shichigosan/plan/plan_bg03.jpg) no-repeat left top transparent;
    width: 647px;
	height:746px;
    margin:0px 0 5px 0;
    padding:0 0 0 0;
}
#main.plan_shichigosan #primary .plan_07{
    position: relative;
    background: url(../../kinoshita_kids/images/shichigosan/plan/plan_bg07.jpg) no-repeat left top transparent;
		background-size:cover;
    width: 647px;
	height:929px;
    margin:25px 0 35px 0;
    padding:0 0 0 0;
}
#main.plan_shichigosan #primary .plan_08{
    position: relative;
    background: url(../../kinoshita_kids/images/shichigosan/plan/plan_bg08.jpg) no-repeat left top transparent;
		background-size:cover;
    width: 647px;
	height:934px;
    margin:25px 0 35px 0;
    padding:0 0 0 0;
}

#main.plan_shichigosan #primary .plan_01 .planInner,
#main.plan_shichigosan #primary .plan_02 .planInner,
#main.plan_shichigosan #primary .plan_03 .planInner,
#main.plan_shichigosan #primary .plan_04 .planInner,
#main.plan_shichigosan #primary .plan_07 .planInner,
#main.plan_shichigosan #primary .plan_08 .planInner{
    background:none;
    padding:93px 0 0 0;
}

#main.plan_shichigosan #primary .plan_01>.floatList,
#main.plan_shichigosan #primary .plan_04>.floatList{
	position:relative;
	top:-30px;
	left:0px;
}

#main.plan_shichigosan #primary  .planlist_01{
	line-height:19px;
}

#main.plan_shichigosan #primary  .planlist_01 .price_txt_01{
	color:#FF6378;
	text-align:right;
	font-weight:bold;
	font-size:14px;
	line-height:38px;
}
#main.plan_shichigosan #primary  .planlist_01 .price_txt_01 span{
	font-size:26px;
	letter-spacing:0.5px;
	margin:0 3px;
	height:35px;
	padding-bottom:7px;
	display:inline-block;
    background: url(../../kinoshita_kids/images/shichigosan/plan/line_red.png) no-repeat right bottom;
	background-position:0 33px ;
}

#main.plan_shichigosan #primary  .price_txt_05{
	text-align:right;
}

#main.plan_shichigosan #primary  .planlist_01 .price_txt_02,
#main.plan_shichigosan #primary  .plan_03 .price_txt_02{
	font-weight:bold;
	letter-spacing:0.4px;
	text-align:right;
	margin:5px 0 10px;
}

#main.plan_shichigosan #primary  .planlist_02{
	color:#FF6378;
	font-size:14px;
	font-weight:bold;
	text-align:right;
	margin-bottom:15px;
}

#main.plan_shichigosan #primary  .planlist_02 li{
}

#main.plan_shichigosan #primary  .planlist_02 li span {
	font-size:25px;
	line-height:45px;
	margin-left:10px;
	padding-bottom:13px;
	padding-left:5px;
	padding-right:5px;
	background: url(../../kinoshita_kids/images/shichigosan/plan/line_red.png) no-repeat left bottom;
}

#main.plan_shichigosan #primary  .planlist_02 li.price_txt_04 {
	color:#654343;
	font-size:11px;
	line-height:28px;
	margin-right:5px;
}

#main.plan_shichigosan #primary  .planlist_02 li.price_txt_04 span {
	color:#FF6378;
	font-size:11px;
	line-height:28px;
	font-weight:bold;
	background:none;
}

#main.plan_shichigosan #primary  .planlist_01 .price_txt_02 span,
#main.plan_shichigosan #primary  .plan_03 .price_txt_02 span{
	color:#FF6378;
	margin-right:3px;
}
.plan_01 .price_txt_03 ,
.plan_04 .price_txt_03 {
	margin-top:15px !important;
}
#main.plan_shichigosan #primary  .floatList .price_txt_03{
	margin:0 0 15px 22px;
	line-height:1.6em;
}
#main.plan_shichigosan #primary  .floatList .price_txt_03 span{
	font-size:14px;
	color:#FF6378;
	font-weight:bold;
	display:inline-block;
	margin-bottom:5px;
}
#main.plan_shichigosan #primary  .plan_07 .planlist_01 {
	margin-bottom:75px;
}
#main.plan_shichigosan #primary  .plan_07 .price_images_area {
	margin-top:-20px;
}

#main.plan_shichigosan #primary  .plan_08 .planlist_01 {
	margin-bottom:30px;
}
#main.plan_shichigosan #primary  .plan_08 .price_images_area {
	margin-top:-30px;
}


#main.plan_shichigosan #primary  .floatList .price_images_area_r {
	margin:-10px 0 0 0px;
}
#main.plan_shichigosan #primary  .floatList .price_images_area_l{
	width:600px;
	margin:0 0 10px 22px;
}
#main.plan_shichigosan #primary  .floatList .price_images_area{
	text-align:center;
	width:600px;
	margin-left:22px;
}
#main.plan_shichigosan #primary  .floatList .price_images_area img{
	margin-bottom:15px;
}
#main.plan_shichigosan #primary  .floatList .price_images_area_02{
	margin-left:24px;
}

#main.plan_shichigosan #primary  .floatList .price_images_area_02 img{
	margin-right:17px;
}

#main.plan_shichigosan #primary .plan_02 dl{
	margin:15px 0 0 ;
}

#main.plan_shichigosan #primary  .planlist_01 .price_txt_04{
	font-size:12px;
	line-height:26px;
	margin:15px 0 40px;
}
#main.plan_shichigosan #primary  .planlist_01 .price_txt_04 span{
	font-weight:bold;
	font-size:14px;
	letter-spacing:0.5px;
	margin:0 3px;
	height:22px;
	padding-bottom:7px;
	display:inline-block;
    background: url(../../kinoshita_kids/images/shichigosan/plan/line_red.png) no-repeat right bottom;
	background-position:0 22px ;
}
#main.plan_shichigosan #primary  .plan_03 .price_txt_02{
	width:620px;
	text-align:right;
	margin-bottom:20px;
}

#main.plan_shichigosan #primary .plan01{
    position: relative;
    background: url(../../kinoshita_kids/images/shichigosan/plan/plan01_bg01.png) repeat-y scroll left top transparent;
    width: 647px;
    margin:25px 0 35px 0;
    padding:0 0 15px 0;
}

#main.plan_shichigosan #primary .plan01 .planInner{
    background:none;
    padding:65px 0 0 0;
}

#main.plan_shichigosan #primary .planInner h4{
	position:absolute;
	left:0;
	top:-10px;
}

#main.plan_shichigosan #primary .planInner .bCopy{
	font-size:12px;
	line-height:1.4;
	padding:0 25px 10px 25px;
}

#main.plan_shichigosan #primary .planInner .leftArea{
   width: 330px;
   float: left;
   text-align:right
}
#main.plan_shichigosan #primary .planInner .leftArea img{
   margin:0 10px 10px 0;
}

#main.plan_shichigosan #primary .planInner .rightArea{
   width: 310px;
   float: left;
}

#main.plan_shichigosan #primary #c04 .planInner .rightArea{padding-top:40px;}

#main.plan_shichigosan #primary .rightArea ul.priceList{
    background: url(../../kinoshita_kids/images/shichigosan/plan/line.gif) no-repeat scroll left bottom transparent;
	width:304px;
	margin-bottom:15px;
	padding-bottom:5px;
}
#main.plan_shichigosan #primary .rightArea ul.priceList li{
	text-align:right;
	line-height:1.6;
	font-size:12px;
	padding-bottom:10px;
	padding-right:30px;
	font-weight:bold;
}

#main.plan_shichigosan #primary .rightArea .price{color:#ff6378;}
#main.plan_shichigosan #primary .rightArea ul.priceList li.price{font-size:14px;}
#main.plan_shichigosan #primary .rightArea ul.priceList li.price strong,
#main.plan_shichigosan #primary .rightArea ul.priceList li strong.price{font-size:18px;}
#main.plan_shichigosan #primary .rightArea ul.priceList li.price span{ font-size:12px;}
#main.plan_shichigosan #primary .rightArea ul.priceList li span.price{font-size:12px;}
#main.plan_shichigosan #primary .rightArea ul.priceList li span.price strong{font-size:14px;}

#main.plan_shichigosan #primary .rightArea dl{width:310px;}
#main.plan_shichigosan #primary .rightArea dt{
	float:left;
	width:62px;
}
#main.plan_shichigosan #primary .rightArea dd{
	float:left;
	width:248px;
}
#main.plan_shichigosan #primary .rightArea dd li{margin:0 10px 8px 0;}

#main.plan_shichigosan #primary .rightArea dd li{margin:0 10px 8px 0;}


#main.plan_shichigosan #primary #c02 .rightArea li.f-right{float:right; padding-right:20px;}



/*お宮参り*/
#main.omiyamairi #primary .entry h3 span {
	background: url(../../kinoshita_kids/images/omiyamairi/ttl.gif) no-repeat;
}

#main.omiyamairi #primary .plan h4 {
	width: 650px;
	height: 55px;
	background: url(../images/common/primary_ttl_bg.gif) no-repeat;
	text-indent: 100%;
	white-space:nowrap;
	overflow:hidden;
	position: relative;
	line-height: 40px;
}
	#main.omiyamairi #primary .plan h4 span {
		display: block;
	}
#main.omiyamairi #primary .copy ul {
	margin: 0 0 0 37px;
}
#main.omiyamairi #primary .basic {
	margin: 40px 0 40px 0;
	padding: 56px 0 15px 10px;
}
#main.omiyamairi #primary .basic .bCopy{
	padding:5px 0 10px 10px;
}
#main.omiyamairi #primary .basic .bCap{
	font-size:12px;
}

#main.omiyamairi #primary .plan .pack {
	margin: 20px 0 40px 0;
	padding: 56px 0 15px 10px;
	position: relative;
	background-color: rgba(249,212,189,0.23);
filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#36f9d5cc,endcolorstr=#36f9d5cc,gradienttype=0);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#36f9d5cc,endColorstr=#36f9d5cc)";
	zoom:1;
}
#main.omiyamairi #primary .plan .pack h4 {
	width: 650px;
	height: auto;
	margin: 0;
	background: none;
	text-indent: 0;
	white-space:nowrap;
	overflow:hidden;
	line-height: none;
	position:absolute;
	left:0;
	top:-20px;
}
#main.omiyamairi #primary .plan .pack .bCopy{
	font-size:14px;
	line-height:1.6;
	padding:0 0 10px 5px;
}
#main.omiyamairi #primary .plan .pack .leftArea{
   width: 320px;
   float: left;
}
#main.omiyamairi #primary .plan .pack .rightArea{
   width: 315px;
   float: left;

}
#main.omiyamairi #primary .plan .pack .rightArea table {
	margin: 0 0 0 auto;
}
#main.omiyamairi #primary .plan .pack .rightArea td{
	padding-left: 1em;
	color: #ff6378;
	text-align:right;
	line-height:1.8;
	font-weight: bold;
}
#main.omiyamairi #primary .plan .pack .rightArea td.price{
	font-size:18px;
	font-weight:bold;
}
#main.omiyamairi #primary .plan .pack .bCap{
	font-size:12px;
	line-height:1.2;
	padding:10px 0 0 10px;
}
#main.omiyamairi #primary .plan .pack .rightArea hr {
	height: 11px;
	margin: 5px 0;
	background: transparent url(../../kinoshita_kids/images/common/line_01.gif) 5px 0 no-repeat;
}
#main.omiyamairi #primary .plan .pack .rightArea dl img {
	vertical-align: bottom;
}
#main.omiyamairi #primary .plan .pack .rightArea dl {
	padding: 10px 0 0 5px;
}
#main.omiyamairi #primary .plan .pack .rightArea dt,
#main.omiyamairi #primary .plan .pack .rightArea dd {
	float: left;
	margin: 0;
}
#main.omiyamairi #primary .plan .pack .rightArea dt {
	margin: 0 10px 0 0;
}
#main.omiyamairi #primary .plan .pack .rightArea dd {
	width: 240px;
	margin: 0;
}
#main.omiyamairi #primary .plan .pack .rightArea dd li {
	float: left;
	margin: 0 7px 5px 0;
}

#main.omiyamairi #primary .option {
	margin: 30px 0 10px 0;
}
#main.omiyamairi #primary .guide{
    margin:40px 0 0 0;
}
#main.omiyamairi #primary .guide h4{
    margin:0 0 10px;
}

#main.omiyamairi #primary .guide li{
    font-size:14px;
    color:#ff6378;
    padding:0 0 5px;
}

#main.omiyamairi #primary .guide li li,
#main.omiyamairi #primary .guide li dl{
    color:#654343;
}

#main.omiyamairi #primary .guide li dl{
    padding:0 0 5px;
}
#main.omiyamairi #primary .guide .indentList li{
    padding:0 0 0 1em;
}



/*1歳記念*/
#main.first_anniversary #primary .copy h3 {
	
	height: 36px;
}

#main.first_anniversary #primary .copy h3 span {
	background: url(../../kinoshita_kids/images/first_anniversary/ttl.gif) 0 0 no-repeat;
}

#main.first_anniversary #primary #basic .price {
	font-size:18px;
}

#main.first_anniversary #primary .entry .bCopy {
	
	font-size: 14px;
}

#main.first_anniversary #primary .entry .bCopy em {
	display: block;
	color: #ff6378;
}

#main.first_anniversary #primary .entry .bCap {
	padding: 15px 0 15px 10px;
}

#main.first_anniversary #primary .basic {
	padding: 55px 10px 10px 10px;
}
/* Plan */
#main.first_anniversary #primary .planList h4 {
	height: 46px;
	background: url(../images/common/primary_ttl_bg.gif) 0 0 no-repeat;
}

#main.first_anniversary .planList h4 span {
	display: block;
	height: 46px;
	margin: 10px 0 0 0;
	background: url(../../kinoshita_kids/images/first_anniversary/sttl.gif) 0 0 no-repeat;
	text-indent: -10000px;
}

#main.first_anniversary #primary .pack {
	background-color: rgba(246,186,192,0.15);
filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#66f6bac0,endcolorstr=#66f6bac0,gradienttype=0);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#66f6bac0,endColorstr=#66f6bac0)";
	zoom:1;
}

#main.first_anniversary #primary .pack {
	
	margin: 30px 0 0 0;
	padding: 55px 10px 15px 10px;
	position: relative;
}

#main.first_anniversary #primary .pack h5 {
	position: absolute;
	top: -20px;
	left: 0;
}

#main.first_anniversary #primary .pack .leftArea{
   width: 290px;
   float: left;
   
   padding: 20px 0 0 0;
}

#main.first_anniversary #primary .pack .rightArea{
   width: 320px;
   float: right;
}	
#main.first_anniversary #primary .pack .rightArea table {
	width: 100%;
	margin: 15px 0 0 0;
}

#main.first_anniversary #primary .pack .rightArea td{
	color: #ff6378;
	line-height:1.8;
	font-weight: bold;
	
	padding: 0 12px 0 0;
}
	td.index {
		vertical-align: top;
	}

#main.first_anniversary #primary .pack .rightArea td.price{
	font-size: 18px;
	text-align:right;
}

#main.first_anniversary #primary .pack td li {
	float: left;
}

#main.first_anniversary #primary .pack td li img {
	display: block;
	margin: 0 8px 8px 0;
}

#main.first_anniversary #primary .pack .bCap{
	font-size:11px;
	line-height:1.2;
	padding:10px 0 0 10px;
}

#main.first_anniversary #primary .pack .rightArea hr {
	height: 11px;
	margin: 5px 0;
	background: transparent url(../../kinoshita_kids/images/common/line_01.gif) 5px 0 no-repeat;
}



/*10歳記念*/
#main.tenth_anniversary #primary .entry h3 span {
	background: url(../../kinoshita_kids/images/tenth_anniversary/ttl.gif) no-repeat;
}

#main.tenth_anniversary #primary .plan h4 {
	width: 650px;
	height: 55px;
	margin-top: 30px;
	background: url(../images/common/primary_ttl_bg.gif) no-repeat;
	text-indent: 100%;
	white-space:nowrap;
	overflow:hidden;
	position: relative;
	line-height: 40px;
}
	#main.tenth_anniversary #primary .plan h4 span {
		display: block;
	}
#main.tenth_anniversary #primary .copy ul {
	margin: 0 0 0 37px;
}
#main.tenth_anniversary #primary .plan .pack h4 {
	width: 650px;
	height: auto;
	margin: 0;
	background: none;
	text-indent: 0;
	white-space:nowrap;
	overflow:hidden;
	line-height: none;
	position:absolute;
	left:0;
	top:-20px;
}
#main.tenth_anniversary #primary .plan .pack {
	margin: 20px 0 40px 0;
	padding: 56px 0 15px 10px;
	position: relative;
	background-color: rgba(249,212,189,0.23);
filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#36f9d5cc,endcolorstr=#36f9d5cc,gradienttype=0);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#36f9d5cc,endColorstr=#36f9d5cc)";
	zoom:1;
}
#main.tenth_anniversary #primary .plan .pack h4 {
	width: 650px;
	height: auto;
	margin: 0;
	background: none;
	text-indent: 0;
	white-space:nowrap;
	overflow:hidden;
	line-height: none;
	position:absolute;
	left:0;
	top:-20px;
}
#main.tenth_anniversary #primary .plan .pack .bCopy{
	font-size:14px;
	line-height:1.6;
	padding:0 0 10px 5px;
}
#main.tenth_anniversary #primary .plan .pack .leftArea{
   width: 310px;
   float: left;
}
#main.tenth_anniversary #primary .plan .pack .rightArea{
   width: 320px;
   float: left;
}
#main.tenth_anniversary #primary .plan .pack .rightArea table {
	margin: 0 0 0 auto;
}
#main.tenth_anniversary #primary .plan .pack .rightArea td{
	padding-left: 2em;
	color: #ff6378;
	text-align:right;
	line-height:1.8;
	font-weight: bold;
}
#main.tenth_anniversary #primary .plan .pack .rightArea td.price{
	font-size:18px;
	font-weight:bold;
}
#main.tenth_anniversary #primary .plan .pack .bCap{
	font-size:12px;
	line-height:1.6;
	padding:3px 0 3px 0;
}
#main.tenth_anniversary #primary .plan .pack .rightArea hr {
	height: 11px;
	margin: 5px 0;
	background: transparent url(../../kinoshita_kids/images/common/line_01.gif) no-repeat;
}
#main.tenth_anniversary #primary .plan .pack .rightArea dl img {
	vertical-align: bottom;
}
#main.omiyamairi #primary .plan .pack .rightArea dl {
	padding: 10px 0 0 5px;
}
#main.tenth_anniversary #primary .plan .pack .rightArea dt,
#main.tenth_anniversary #primary .plan .pack .rightArea dd {
	float: left;
	margin: 0;
}
#main.tenth_anniversary #primary .plan .pack .rightArea dt {
	margin: 0 10px 0 0;
}
#main.tenth_anniversary #primary .plan .pack .rightArea dd {
	width: 240px;
	margin: 0;
}
#main.tenth_anniversary #primary .plan .pack .rightArea dd li {
	float: left;
	margin: 0 7px 5px 0;
}
#main.tenth_anniversary #primary .plan .pack .rightArea .addition {
	color: #ff6378;
	font-size: 14px;
	font-weight: bold;
}
#main.tenth_anniversary #primary .caution {
	margin-top: -20px;
	margin-bottom: 20px;
}
#main.tenth_anniversary #primary .colorbox{
	margin-left:20px;
}
#main.tenth_anniversary #primary .colorbox:before, #main.price #primary .colorbox {
	before: " ";
	content: " ";
}
#main.tenth_anniversary #primary .colorbox:before, #main.price #primary .colorbox .before{
	height: 10px;
	display: block;
	vertical-align: bottom;
	font-size: 0;
	background: url(../images/price/line_head.gif) no-repeat;
}
#main.tenth_anniversary #primary .colorbox:after, #main.price #primary .colorbox {
	after: " ";
	content: " ";
}
#main.tenth_anniversary #primary .colorbox:after, #main.price #primary .colorbox .after {
	height: 10px;
	display: block;
	vertical-align: bottom;
	font-size: 0;
	background: url(../images/price/line_foot.gif) no-repeat;
}
#main.tenth_anniversary #primary .colorbox dl {
	background: url(../images/price/line_bg.gif) repeat-y;
	width:610px;
}
#main.tenth_anniversary #primary .colorbox dt{
	padding:0 0 0 20px;
}
#main.tenth_anniversary #primary .colorbox dd{
	padding:0 20px 10px 40px;
	font-size:12px;
	line-height: 1.5;
}

/*卒入園・卒入学 */
#main.ceremony #primary .entry h3 span {
	background: url(../../kinoshita_kids/images/ceremony/ttl.gif) no-repeat;
}

#main.ceremony #primary .plan h4 {
	width: 650px;
	height: 55px;
	margin-top: 30px;
	background: url(../images/common/primary_ttl_bg.gif) no-repeat;
	text-indent: 100%;
	white-space:nowrap;
	overflow:hidden;
	position: relative;
	line-height: 40px;
}
	#main.ceremony #primary .plan h4 span {
		display: block;
	}
#main.ceremony #primary .copy ul {
	margin: 0 0 0 37px;
}
#main.ceremony #primary .basic {
	margin: 40px 0 40px 0;
	padding: 56px 0 15px 10px;
}
#main.ceremony #primary .basic .bCopy{
	padding:5px 0 10px 10px;
}
#main.ceremony #primary .basic .bCap{
	font-size:12px;
	line-height: 1.6;
}

#main.ceremony #primary .plan .pack {
	margin: 20px 0 40px 0;
	padding: 56px 0 15px 10px;
	position: relative;
	background-color: rgba(249,212,189,0.23);
filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#36f9d5cc,endcolorstr=#36f9d5cc,gradienttype=0);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#36f9d5cc,endColorstr=#36f9d5cc)";
	zoom:1;
}
#main.ceremony #primary .plan .pack h4 {
	width: 650px;
	height: auto;
	margin: 0;
	background: none;
	text-indent: 0;
	white-space:nowrap;
	overflow:hidden;
	line-height: none;
	position:absolute;
	left:0;
	top:-20px;
}
#main.ceremony #primary .plan .pack .bCopy{
	font-size:14px;
	line-height:1.6;
	padding:0 0 10px 5px;
}
#main.ceremony #primary .plan .pack .leftArea{
   width: 310px;
   float: left;
}
#main.ceremony #primary .plan .pack .rightArea{
   width: 325px;
   float: left;
}
#main.ceremony #primary .plan .pack .rightArea table {
	margin: 0 0 0 auto;
}
#main.ceremony #primary .plan .pack .rightArea td{
	padding-left: 1em;
	color: #ff6378;
	text-align:right;
	line-height:1.8;
	font-weight: bold;
}
#main.ceremony #primary .plan .pack .rightArea td.price{
	font-size:18px;
	font-weight:bold;
}
#main.ceremony #primary .plan .pack .bCap{
	font-size:12px;
	line-height:1.6;
	padding:10px 0 0 10px;
}
#main.ceremony #primary .plan .pack .rightArea hr {
	height: 11px;
	margin: 5px 0;
	background: transparent url(../../kinoshita_kids/images/common/line_01.gif) 5px 0 no-repeat;
}
#main.ceremony #primary .plan .pack .rightArea dl img {
	vertical-align: bottom;
}
#main.ceremony #primary .plan .pack .rightArea dl {
	padding: 10px 0 0 5px;
}
#main.ceremony #primary .plan .pack .rightArea dt,
#main.ceremony #primary .plan .pack .rightArea dd {
	float: left;
	margin: 0;
}
#main.ceremony #primary .plan .pack .rightArea dt {
	margin: 0 10px 0 0;
}
#main.ceremony #primary .plan .pack .rightArea dd {
	width: 240px;
	margin: 0;
}
#main.ceremony #primary .plan .pack .rightArea dd li {
	float: left;
	margin: 0 7px 5px 0;
}
#main.ceremony #primary .option .bCap {
	line-height: 1.4;
}

#main.ceremony #primary .caution {
	margin-top: -20px;
	margin-bottom: 20px;
}

#main.ceremony #primary .guide{
    margin:40px 0 0 0;
}
#main.ceremony #primary .guide h4{
    margin:0 0 10px;
}

#main.ceremony #primary .guide li{
    font-size:14px;
    color:#ff6378;
    padding:0 0 5px;
}

#main.ceremony #primary .guide li dl{
    color:#654343;
    padding:0 0 5px;
}

#main.ceremony #primary .plan_sotuen_hakama h5 {
	color:#ff6378;
	font-weight:bold;
	font-size:18px;
	margin-top:-5px;
	padding: 0 0 0 10px;
}

#main.ceremony #primary .plan_sotuen_hakama p .price {
	color:#ff6378;
	font-weight:bold;
}

#main.ceremony #primary .plan_sotuen_hakama dd {
	width:250px !important;
}

#main.ceremony #primary td .price_big {
	letter-spacing:-0.5px;
	font-size:17px;
}

#main.ceremony #primary .plan_sotuen_hakama td .price_big {
	font-size:16px;
}

#main.ceremony #primary .plan_sotuen_hakama dt {
	margin-right:13px !important;
}

#main.ceremony #primary .plan_sotuen_hakama dd {
	width:250px !important;
}

#main.ceremony #primary .plan_sotuen_hakama dd li:first-child {
	margin-left:0px !important;
}

#main.ceremony #primary .plan_sotuen_hakama dd li {
	margin-left:10px !important;
	margin-right:0px !important;
}



/* お誕生日 */
#main.birthday #primary .copy h3 {
	height: 36px;
}

#main.birthday #primary .copy h3 span {
	background: url(../../kinoshita_kids/images/birthday/ttl.gif) 0 0 no-repeat;
}

#main.birthday #primary .copy img {
	
	margin-bottom: 40px;
}

#main.birthday #primary .copy ul {
	margin: 0 0 0 37px;
}

#main.birthday #primary .copy li img {
	margin: 0 0 30px 0;
}
/* ベーシック */
#main.birthday #primary .basic {
	padding: 55px 15px 15px 13px;
	position: relative;
}

#main.birthday #primary .basic h4 {
	position: absolute;
	top: -20px;
	left: 0;
}

#main.birthday #primary .basic .leftArea {
	float: left;
	width: 260px;
}

#main.birthday #primary .basic .rightArea {
	float: right;
	width: 360px;
}

#main.birthday #primary .basic .rightArea p {
	padding: 0 0 0 10px;
}

#main.birthday #primary .basic .rightArea .bCap {
	padding: 10px 0 10px 10px;
}

#main.birthday #primary .basic .price {
	font-size:18px;
}

#main.birthday #primary .basic .rightArea .addition td {
	width: auto;
	padding-left: 1.5em;
	font-size: 14px;
	line-height:2.5;
}
