/*topics共通*/
#main.topics h3 span {
	background: url(../images/topics/ttl.gif) 0 0 no-repeat;
}
#main.topics .post {
	width: 640px;
	padding: 0 0 23px 10px;
	background: url(../images/topics/entry_border.gif) 10px bottom no-repeat;
	clear: both;
}
#main.topics .post dl {
	padding: 20px 0 0 0;
}
#main.topics .post dt {
	padding: 0 0 14px 0;
	background: url(../images/topics/topic_ttl_bg.gif) left bottom no-repeat;
	font-size: 14px;
	line-height: 1.3;
}
/*topics一覧・アーカイブ*/
#main.topics .post .entry {
	margin: 15px 0 0 0;
}
#main.topics .post .entry a:link,
#main.topics .post .entry a:visited {
	text-decoration: underline;
}
#main.topics .post .entry a:hover,
#main.topics .post .entry a:active {
	text-decoration: none;
}
#main.topics .post .entry .date {
	float: right;
	width: 157px;
	height: 40px;
	margin: 10px 0 0 0;
	padding: 0 5px 0 0;
	background: url(../images/topics/date_bg.gif) no-repeat;
	text-align: center;
	line-height: 40px;
	position: static;
}
#main.topics #primary .more {
	float: right;
	width: 158px;
	height: 41px;
	margin: 20px 0 0 0;
	text-align: center;
	line-height: 41px;
	background: url(../images/topics/more_bg.gif) no-repeat;
}
#main.topics .archive .acMenu{
	    cursor:pointer;
}
#main.topics .archive dd {
	display: none;
}
#main.topics .archive .list0 {
	display: block;
}

/*topics詳細*/
#main.topics .post {
	position: relative;
}
#main.topics .post .date {
	width: 157px;
	height: 40px;
	padding: 0 5px 0 0;
	background: url(../images/topics/date_bg.gif) no-repeat;
	text-align: center;
	line-height: 40px;
	position: absolute;
	top: 0;
	right: 0;
}
#main.topics .post .read {
	padding: 15px 0 0 0;
}
#main.topics .post .photo {
	text-align: center;
	padding: 20px 0;
}
	#main.topics .post .photo img {
		vertical-align: bottom;
	}
#main.topics .post .content {
	background-color: rgba(195,242,231,0.45);
filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#66c3f2e7,endcolorstr=#66c3f2e7,gradienttype=0);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#66c3f2e7,endColorstr=#66c3f2e7)";
	zoom:1;
	margin: 0 0 3px 0;
	padding: 15px 25px;
}
#main.topics .topicsList dt {
	height: 48px;
	padding: 0 0 0 16px;
	background: url(../images/topics/side_year_ttl_bg.gif) no-repeat;
	font-size: 18px;
	line-height: 48px;
}
#main.topics .topicsList dt {
	height: 48px;
	padding: 0 0 10px 16px;
	background: url(../images/topics/side_year_ttl_bg.gif) no-repeat;
	font-size: 18px;
	line-height: 48px;
}
#main.topics .topicsList dd {
	padding: 10px 0 10px 0;
}
#main.topics .topicsList dd p {
	height: 42px;
	padding: 0 0 0 16px;
	background: url(../images/topics/side_month_ttl_bg.gif) no-repeat;
	font-size: 14px;
	line-height: 42px;
}
#main.topics .topicsList li {
	padding: 0 0 0 30px;
}
	#main.topics .topicsList li.new:after, #main.topics .topicsList li.new {
		after: "new";
		content: "new";
	}
	#main.topics .topicsList li.new:after, #main.topics .topicsList li.new .after {
		padding: 0 0 0 1em;
		color: #ff6378;
		font-size: 10px;
	}
#main.topics .topicsList .more {
	padding: 10px 15px 20px 0;
	text-align: right;
}


/*campaign共通*/
#main.campaign h3 span {
	background: url(../images/campaign/ttl.gif) 0 0 no-repeat;
}
#main.campaign .post {
	width: 640px;
	padding: 0 0 23px 10px;
	background: url(../images/topics/entry_border.gif) 10px bottom repeat-x;
	clear: both;
}
#main.campaign .post dl {
	padding: 20px 0 0 0;
}
#main.campaign .post dt {
	padding: 0 0 14px 0;
	background: url(../images/campaign/topic_ttl_bg.gif) left bottom repeat-x;
	font-size: 14px;
	line-height: 1.3;
}
/*campaign一覧・アーカイブ*/
#main.campaign .post .entry {
	margin: 15px 0 0 0;
}
#main.campaign .post .entry a:link,
#main.campaign .post .entry a:visited {
	text-decoration: underline;
}
#main.campaign .post .entry a:hover,
#main.campaign .post .entry a:active {
	text-decoration: none;
}
#main.campaign .post ul {
	margin: 0 0 0 15px;
}
#main.campaign .post li {
	float: left;
	width: 100px;
}
#main.campaign .post li.icon {
	padding: 20px 0 0 0;
}
#main.campaign .post li.icon img {
	margin: 0 0 3px 0;
}
#main.campaign .post ul dl {
	width: 516px;
	padding: 20px 0 0 0;
}
#main.campaign .post ul dt {
	padding: 0 0 14px 0;
	background: url(../images/campaign/topic_ttl_bg.gif) left bottom no-repeat;
	font-size: 14px;
	line-height: 1.3;
}
#main.campaign .post ul dt img {
	margin: 0 20px 0 0;
	vertical-align: middle;
}
#main.campaign .post dt img {
	margin: 0 0 0 10px;
	vertical-align: middle;
}
#main.campaign .post .entry .date {
	float: right;
	width: 157px;
	height: 37px;
	margin: 10px 0 0 0;
	padding: 0 5px 0 0;
	background: url(../images/campaign/date_bg.gif) no-repeat;
	text-align: center;
	line-height: 37px;
	position: static;
}
#main.campaign .archive .acMenu{
	    cursor:pointer;
}
#main.campaign .archive dd {
	display: none;
}
#main.campaign .archive .list0 {
	display: block;
}
/*campaign詳細*/
#main.campaign .post {
	position: relative;
}
#main.campaign .post .date {
	width: 157px;
	height: 37px;
	padding: 0 5px 0 0;
	background: url(../images/campaign/date_bg.gif) no-repeat;
	text-align: center;
	line-height: 37px;
	position: absolute;
	top: 0;
	right: 0;
}
#main.campaign .post .read {
	padding: 15px 0 0 0;
}
#main.campaign .post .photo {
	text-align: center;
	padding: 20px 0;
}
	#main.campaign .post .photo img {
		vertical-align: bottom;
	}
#main.campaign .post .content {
	background-color: rgba(195,242,231,0.45);
filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#66c3f2e7,endcolorstr=#66c3f2e7,gradienttype=0);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#66c3f2e7,endColorstr=#66c3f2e7)";
	zoom:1;
	margin: 0 0 3px 0;
	padding: 15px 25px;
}
#main.campaign .topicsList {
	padding: 0 0 20px 0;
}
#main.campaign .topicsList dt {
	height: 48px;
	padding: 0 0 0 16px;
	background: url(../images/campaign/side_year_ttl_bg.gif) no-repeat;
	font-size: 18px;
	line-height: 48px;
}
#main.campaign .topicsList dd {
	padding: 10px 0 10px 0;
}
#main.campaign .topicsList dd p {
	height: 42px;
	padding: 0 0 0 16px;
	background: url(../images/topics/side_month_ttl_bg.gif) no-repeat;
	font-size: 14px;
	line-height: 42px;
}
#main.campaign .topicsList li {
	padding: 4px 0 4px 30px;
	background: url(../images/campaign/side_icon.gif) no-repeat;
}
	#main.campaign .topicsList li.new:after, #main.topics .topicsList li.new {
		after: "new";
		content: "new";
	}
	#main.campaign .topicsList li.new:after, #main.topics .topicsList li.new .after {
		padding: 0 0 0 1em;
		color: #ff6378;
		font-size: 10px;
	}
#main.campaign .topicsList .more {
	float: right;
	width: 158px;
	height: 41px;
	margin: 20px 0 0 0;
	text-align: center;
	line-height: 41px;
	background: url(../images/campaign/side_more_bg.gif) no-repeat;
}
