/*----------------------------------------
	voice
---------------------------------------*/
#main.voice h3 span{
	background: url(../images/voice/ttl.gif) 0 0 no-repeat;
}

#main.voice .cateMenu{
	margin:0 0 25px 33px;
}
#main.voice .cateMenu li{
	margin-right:5px;
}

#main.voice .photoList dl{
	width:216px;
	padding:0 0 20px 0;
}
#main.voice .photoList dt{
	background: url(../images/voice/photo_bg01.gif) left top no-repeat;
	padding:4px 0 12px 4px;
}
#main.voice .photoList dt a{
	display:block;
	width:201px;
	height:134px;
	overflow:hidden;
}

#main.voice .photoList dt.oblong{
	background: url(../images/voice/photo_bg02.gif) left top no-repeat;
	width:150px;
	padding:4px 0 10px;
	margin:0 auto;
}
#main.voice .photoList dt.oblong a{
	width:134px;
	height:201px;
	margin-left:4px;
}

#main.voice .photoList dd{
	padding:5px 5px 0 7px;
}


/*voice詳細*/
#main.voice .post {
	width: 640px;
	padding: 10px 0 20px 10px;
	position: relative;
}

#main.voice .post dl {
	padding: 20px 0 0 0;
}

#main.voice .post dt {
	padding: 0 0 8px 0;
	margin: 0 0 5px;
	background: url(../images/voice/voice_ttl_bg.gif) left bottom no-repeat;
	font-size: 16px;
	line-height: 1.3;
}

#main.voice .post .date {
	width: 184px;
	height: 40px;
	padding: 0 5px 0 0;
	background: url(../images/voice/date_bg.gif) no-repeat;
	text-align: center;
	line-height: 40px;
	position: absolute;
	top: 10px;
	right: 0;
}

#main.voice .eyechatch {
	margin: 0 auto;
	background-image: url(../images/voice/photo_l_bg01.gif);
	background-repeat: no-repeat;
	background-position: right bottom;
}

#main.voice .eyechatchfoot{
	background-image: url(../images/voice/photo_l_foot.gif);
	background-repeat: no-repeat;
	background-position: left bottom;
}

#main.voice .eyechatchInner{
	padding:5px 9px 9px 5px;
	background-image: url(../images/voice/photo_l_head.gif);
	background-repeat: no-repeat;
	background-position: right top;
}

#main.voice .sttl{
	margin: 40px 0 5px;
	padding:12px 20px 8px;
	background-image: url(../images/voice/voice_sttl_bg.gif);
	background-repeat: no-repeat;
	background-position: left top;
	font-size:16px;
	font-weight:normal;
	line-height:24px;
}

#main.voice .qesPhoto{
	width: 310px;
	float:left;
}
#main.voice .qesPhoto p{
	width: 304px;
	padding:5px 0 9px;
	margin: 0 auto;
	background-image: url(../images/voice/photo_m_bg01.gif);
	background-repeat: no-repeat;
	background-position: left top;
}
#main.voice .qesPhoto p.oblong{
	width: 205px;
	background-image: url(../images/voice/photo_m_bg02.gif);
}
#main.voice .qesPhoto p span{
	display:block;
	width: 290px;
	height:190px;
	margin:0 0 0 5px;
	overflow:hidden;
}
#main.voice .qesPhoto p.oblong span{
	display:block;
	width: 190px;
	height:290px;
}


#main.voice .qestext{
	width: 340px;
	float:right;
	background-color: rgba(255,206,213,0.45);
filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#66ffced5,endcolorstr=#66ffced5,gradienttype=0);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#66ffced5,endColorstr=#66ffced5)";
	zoom:1;
}
#main.voice .qestext p{
	padding:15px 10px;
}

#main.voice .utilizePlan{
	padding-top:60px;
	text-align:center;
}
