.fraction-slider{
	/*position:relative;*/
	width:100%; height:100%;
	overflow:visible;
	/*overflow:hidden;*/
}

.fraction-slider .slide{
	display:none; width:100%; height:100%;
	position:absolute;
	z-index:500;
}

.fraction-slider .active-slide{
	z-index:888;
}

.fraction-slider .fs_obj{
	display:block; display:none;
	position:absolute;
	top:0px; left:100%;
	z-index:700;
}

.fraction-slider .fs_fixed_obj{
	z-index:600;
	left:0;
}

.fraction-slider .fs_obj *{
	display:inline-block;
	position:relative;
	top:0px; left:0px;
}

.fs_loader{
	width:100%; height:481px;
	background:url(../../images/home/fractionslider/fs.spinner.gif) center center no-repeat transparent;
}

/** CONTROLS **/

.fraction-slider .prev,
.fraction-slider .next{
	display:none;
	position:absolute;
	width:45px; height:45px;
	z-index:888;
}

.fraction-slider .prev{
	left:10px; top:185px;
	background:url(../../images/home/fractionslider/fs.prevnext.png) 0px 0px no-repeat transparent;
	
}
.fraction-slider .prev:hover{
	background:url(../../images/home/fractionslider/fs.prevnext.png) 0px -45px no-repeat transparent;
}

.fraction-slider .next{
	right:10px; top:185px;
	background:url(../../images/home/fractionslider/fs.prevnext.png) -45px 0px no-repeat transparent;
}
.fraction-slider .next:hover{
	background:url(../../images/home/fractionslider/fs.prevnext.png) -45px -45px no-repeat transparent;
}

.fraction-slider:hover .prev,
.fraction-slider:hover .next{
	display:block;
}

/** PAGER **/

.fs-pager-wrapper{
	position:absolute;
	left:10px; bottom:10px;
	z-index:888;	
}

.fs-pager-wrapper a{
	display:inline-block;
	width:14px; height:14px;
	margin:0 5px 0 0;
	background:url(../../images/home/fractionslider/fs.pager.png) 0px -14px no-repeat transparent;
}
.fs-pager-wrapper .active{
	background:url(../../images/home/fractionslider/fs.pager.png) 0px 0px no-repeat transparent;
}