div.content {
	/* The display of content is enabled using jQuery so that the slideshow content won't display unless javascript is enabled. */
	display: none;
	float: right;
	width: 550px; 
}
div.content a, div.navigation a {
	text-decoration: none;
	color: #777;
}
div.content a:focus, div.content a:hover, div.content a:active {
	text-decoration: underline;
}
div.controls {
	margin-top: 5px;
	height: 23px;
}
div.controls a {
	padding: 5px;
}
div.ss-controls {
	float: left;
}
div.nav-controls {
	float: right;
}
div.slideshow-container {
	float: left;
	position: relative;
	clear: both;
	width: 325px;
	height: 291px; /* This should be set to be at least the height of the largest image in the slideshow */
	background: #FFFFFF;
}
div.loader {
	position: absolute;
	top: 0;
	left: 0;
	background-image: url(../../images/home/gallery/loader.gif);
	background-repeat: no-repeat;
	background-position: center;
	width: 325px;
	height: 291px; /* This should be set to be at least the height of the largest image in the slideshow */
}
div.slideshow {

}
div.slideshow span.image-wrapper {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
}
div.slideshow a.advance-link {
	display: block;
	width: 325px;
	height: 291px; /* This should be set to be at least the height of the largest image in the slideshow */
	line-height: 291px; /* This should be set to be at least the height of the largest image in the slideshow */
	text-align: center;
}
div.slideshow a.advance-link:hover, div.slideshow a.advance-link:active, div.slideshow a.advance-link:visited {
	text-decoration: none;
}
div.slideshow img {
	vertical-align: middle;
}
div.download {
	float: right;
}
div.caption-container {
	position: relative;
	clear: left;
	height: 75px;
}
span.image-caption {
	display: block;
	position: absolute;
	width: 550px;
	top: 0;
	left: 0;
}
div.caption {
	padding: 12px;
}
div.image-title {
	font-weight: bold;
	font-size: 1.4em;
}
div.image-desc {
	line-height: 1.3em;
	padding-top: 12px;
}
div.navigation {
	/* The navigation style is set using jQuery so that the javascript specific styles won't be applied unless javascript is enabled. */
}
ul.thumbs {
	float: left;
	width: 290px;
	clear: both;
	margin: 0;
	padding: 8px 0 0 8px;
	background: url(../../images/home/gallery_photo_bg.gif) 8px 8px no-repeat;
}
ul.thumbs li {
	float: left;
	width: 86px;
	height: 86px;
	padding: 0;
	margin: 0 8px 8px 0;
	list-style: none;
	background: #FFFFFF;
	overflow: hidden;
	position: relative;
}
ul.thumbs li img {
	height: 86px;
	margin: 0 0 0 -3px;
}
a.thumb {
	/*padding: 2px;*/
	display: block;
	/*border: 1px solid #ccc;*/
}
ul.thumbs li.selected:after, ul.thumbs li {
	after:".";
	content:".";
}
ul.thumbs li.selected:after, ul.thumbs li.selected .after {
	display: block;
	width: 86px;
	height: 86px;
	position: absolute;
	top: 0;
	left: 0;
	background-image:url(../../images/home/gallery_selected.png);
	text-indent: -10em;
}
ul.thumbs li.selected a.thumb {
	/*background: #000;*/
}
a.thumb:focus {
	outline: none;
}
ul.thumbs img {
	border: none;
	display: block;
}
div.pagination {
	clear: both;
}
div.navigation div.top {
	display: none;
	/*margin-bottom: 12px;
	height: 11px;*/
}
div.navigation div.bottom {
	display: none;
	/*margin-top: 12px;*/
}
div.pagination a, div.pagination span.current, div.pagination span.ellipsis {
	display: block;
	float: left;
	margin-right: 2px;
	padding: 4px 7px 2px 7px;
	border: 1px solid #ccc;
}
div.pagination a:hover {
	background-color: #eee;
	text-decoration: none;
}
div.pagination span.current {
	font-weight: bold;
	background-color: #000;
	border-color: #000;
	color: #fff;
}
div.pagination span.ellipsis {
	border: none;
	padding: 5px 0 3px 2px;
}
