@import url(css/font-awesome.css);
@import url(css/font-awesome-ie7.css);

/* =Reset
-------------------------------------------------------------- */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
body {
	line-height: 1.1;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 12px;
	line-height: 1.5;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
caption,
th,
td {
	font-weight: normal;
	text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}
html {
	overflow-y: scroll;
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
a:focus {
	outline: thin dotted;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
	display: block;
}
audio,
canvas,
video {
	display: inline-block;
}
audio:not([controls]) {
	display: none;
}
del {
	color: #333;
}
ins {
	background: #fff9c0;
	text-decoration: none;
}
hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin: 24px;
	margin-bottom: 1.714285714rem;
}
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}
small {
	font-size: smaller;
}
img {
	border: 0;
	-ms-interpolation-mode: bicubic;
}

/* Clearing floats */
.clear:after,
.wrapper:after,
.format-status .entry-header:after {
	clear: both;
}
.clear:before,
.clear:after,
.wrapper:before,
.wrapper:after,
.format-status .entry-header:before,
.format-status .entry-header:after {
	display: table;
	content: "";
}

.clearfix {
	/zoom: 1;
}
.clearfix:after {
  content: ""; 
  display: block; 
  clear: both;
}

.f-clear{
  clear: both;
}

.floatList li{
	float:left; list-style:none;
}
.blockList li img,
.floatList li img{
	vertical-align:bottom;
}
.indentList li{
	padding-left:1em;
	text-indent:-1em;
}

.mt10{
	margin-top:10px !important;
}
.mt15{
	margin-top:15px !important;
}
.mt30{
	margin-top:30px !important;
}

.mb15{
	margin-bottom:15px !important;
}
.m15{
	margin-top:15px !important;
	margin-bottom:15px !important;
}

.pt0{padding-top:0 !important;}

.textRight{
	text-align:right !important;
}
.textCenter{
	text-align:center !important;
}
a:link, a:visited {
	text-decoration: none;
}
a:hover, a:active {
	text-decoration: underline;
}

/* =Repeatable patterns
-------------------------------------------------------------- */
@font-face {
    font-family: 'koz-min';
    src: url(fonts/kozmin.eot);/* IE */
}
@font-face {
    font-family: 'koz-min';
    src: local('KozMinPro-Light'), /*フォントがローカルにインストールされている時の指定*/
         url('fonts/kozmin.eot') format('embedded-opentype'),
		 url('fonts/kozmin.otf') format('opentype'),
		 url('fonts/kozmin.woff') format('woff'); /* other */
}
@font-face {
    font-family: 'koz-go';
    src: url(fonts/kozgo.eot);/* IE */
}
@font-face {
    font-family: 'koz-go';
    src: local('KozGoPro-Light'), /*フォントがローカルにインストールされている時の指定*/
         url('fonts/kozgo.eot') format('embedded-opentype'),
		 url('fonts/kozgo.otf') format('opentype'),
		 url('fonts/kozgo.woff') format('woff'); /* other */
}

body {
	background: url(images/common/bg.jpg) top center;
}









/*----------------------------------------
	header 
---------------------------------------*/
#header {
	width: 100%;
	min-width: 960px;
	color: #000000;
	line-height: 1.2;

	position: relative;
}
	.home #header {
		height: 638px;
	}
	#header a {
		color: #000000;
	}
	.archive #header,
	.single #header,
	.page-template #header,
	.kidsHome #header {
		background: url(images/common/branch_header_bg.gif) center top no-repeat;
	}
#header .siteInfo,
#header .subNaviArea {
	width: 960px;
	margin: 0 auto;
}
	.home #header .siteInfo {
		z-index: 1000;
		position: absolute;
		top: 0;
		left: 50%;
		margin-left: -480px;
	}
	#header .ttl {
		float: left;
		margin: 0 0 0 10px;
	}
	#header .siteInfo h2 {
		padding: 20px 0 3px 0;
		font-size: 10px;
		font-weight: normal;
	}
#header .address {
	float: right;
	width: 256px;
	height: 137px;
	background: url(images/common/header_tag.png) no-repeat 0 10px;
	font-size: 11px;
}
	#header .address ol {
		margin: 50px 0 0 15px;
	}
	#header .address ol li {
		display: inline;
	}
	#header .address ul {
		margin: 0 0 0 15px;
		font-size: 10px;
	}
	#header .address ul li {
		float: left;
		width: 180px;
	}
		#header .tel {
			padding: 7px 0 4px 5px;
			color: #654343;
			font-size: 22px;
			font-weight: bold;
		}
		#header .tel a {
			color: #654343;
		}
	#header .address ul li.map {
		float: right;
		width: auto;
		margin: 7px 12px 0 0;
	}

/*KeyVidual
------------------------------*/
/*下層KeyVidual*/
#header #kv {
	width: 960px;
	margin: 0 auto 0;
}
/*TOP KeyVidual*/
.home #header #kv {
	width: auto;
	height: 481px;
	margin: 0;
	position: relative;
	top: 0;
	overflow: hidden;
}
/*お子様TOP KeyVidual*/
.kidsHome #header #kv {
	position: relative;
	height: 350px;
	overflow:hidden;
}
.fs_loader{
	height: 350px;
}


/*globalNavi
------------------------------*/
#header .globalNavi {
	width: 950px;
	height: 85px;
	margin: 0 auto 0;
}
#header .globalNavi li {
	float: left;
}
#header .globalNavi li a {
		display: block;
		background-repeat: no-repeat;
}
#header .globalNavi li a:hover img, #header .globalNavi li a.on img {
	display: none !important;
}
	/*下層globalNavi*/
	#header .globalNavi ul {
		float: right;
	}
	#header .globalNavi li a {
		width: 103px;
		height: 79px;
	}
	#header .globalNavi li .gn01 {
		background-image: url(images/common/header_sub_navi01_o.png);
	}
	#header .globalNavi li .gn02 {
		background-image: url(images/common/header_sub_navi02_o.png);
	}
	#header .globalNavi li .gn03 {
		background-image: url(images/common/header_sub_navi03_o.png);
	}
	#header .globalNavi li .gn04 {
		background-image: url(images/common/header_sub_navi04_o.png);
	}
	#header .globalNavi li .gn05 {
		background-image: url(images/common/header_sub_navi05_o.png);
	}
	#header .globalNavi li .gn06 {
		width: 107px;
		background-image: url(images/common/header_sub_navi06_o.png);
	}
	/*TOP globalNavi*/
	.home #header .globalNavi {
		position: absolute;
		top: 406px;
		height: auto;
		left: 50%;
		margin-left: -475px;
		z-index: 999;
	}
	.home #header .globalNavi ul {
		float: none;
		margin: 0 0 0 35px;
	}
	.home #header .globalNavi li a {
		height: 106px;
	}
	.home #header .globalNavi li .gn01 {
		width: 156px;
		background-image: url(images/common/header_navi01_o.png);
	}
	.home #header .globalNavi li .gn02 {
		width: 149px;
		background-image: url(images/common/header_navi02_o.png);
	}
	.home #header .globalNavi li .gn03 {
		width: 142px;
		background-image: url(images/common/header_navi03_o.png);
	}
	.home #header .globalNavi li .gn04 {
		width: 154px;
		background-image: url(images/common/header_navi04_o.png);
	}
	.home #header .globalNavi li .gn05 {
		width: 147px;
		background-image: url(images/common/header_navi05_o.png);
	}
	.home #header .globalNavi li .gn06 {
		width: 147px;
		background-image: url(images/common/header_navi06_o.png);
	}

/*お子様Menu
------------------------------*/
/*TOP お子様Menuエリア*/
.home #header .subNaviArea {
	height: 130px;
	text-align: center;
	background: url(images/home/copy_bg.gif) center 25px no-repeat; 
	position: absolute;
	top: 508px;
	left: 50%;
	margin-left: -475px;
}
	#header .subNaviArea .base {
		padding: 42px 0 0 0;
	}
	#header .subNaviArea h2 {
		color: #654343;
		font-family: 'koz-min' , 'serif' ;
		font-size: 22px;
		font-weight: normal;
		text-shadow: 1px 2px 1px #b0ad96;
	}
/*TOP お子様Menu本体*/
#header .subNaviArea #kidsMenu {
	width: 692px;
	height: 108px;
	background: url(images/home/kids_navi_bg.gif) no-repeat;
	position: absolute;
	top: 0;
	left: 128px;
	z-index: 999;
	display: none;
}
	#header .subNaviArea #kidsMenu ul {
		padding-top: 25px;
	}
	#header .subNaviArea #kidsMenu li {
		float: left;
		width: 114px;
		text-align: center;
	}
	#header .subNaviArea #kidsMenu li a img {
		margin: 2px 0 0 0;
	}
	#header .subNaviArea #kidsMenu li a img.on {
		margin: 0 0 0 2px;
	}
	
/*お子様TOP お子様Menu*/
.kidsHome #header .subNaviArea,
.kids #header .subNaviArea {
	width: 960px;
	height: 140px;
}
	.kidsHome #header .subNaviArea ul,
	.kids #header .subNaviArea ul {
		padding: 0 0 0 14px;
	}
	.kidsHome #header .subNaviArea li,
	.kids #header .subNaviArea li {
		float: left;
		width: 144px;
		text-align: right;
	}
	.kidsHome #header .subNaviArea li a img,
	.kids #header .subNaviArea li a img {
		margin: 38px 1px 0 0;
	}
	.kidsHome #header .subNaviArea li a img.on,
	.kids #header .subNaviArea li a img.on {
		margin: 1px 0 0 0;
	}
.preload {
	display: none;
}




/* BreadClumbList */
.bcList {
	width: 930px;
	height: 30px;
	padding: 10px 0 0 30px;
	margin: 0 auto;
	color: #808080;
	text-align: left;
	font-size: 12px;
}
.bcList a {
	color: #808080;
}
.bcList.Column2 {
	padding: 10px 0 0 0;
}
/*----------------------------------------
	main 
---------------------------------------*/
#main {
	width: 960px;
	margin: 0 auto;
}

/*----------------------------------------
	primary 
---------------------------------------*/
#primary {
	float: left;
	width: 655px;
	padding: 0 0 0 10px;
}
/*--------031~更新 /plan/ -----------*/
#main.plan #primary .plan01 .basicprice_txt{
	color:#ff6378;
	font-size:12px;
	font-weight:bold;
	text-align:right;
	width:300px;
	position:absolute;
	top:15px;
	right:10px;
}
/*--------031~更新 /family/ -----------*/
#main.family #primary .plan02 .rightArea{
	margin:-30px 0 0;}
#main.family #primary .plan02 .rightArea>p{
	text-align:center;}
/*--------031~更新 /omiyamairi/ -----------*/
#main.omiyamairi #primary .basic_new .textCenter{
	margin-top:-10px;
	margin-bottom:-18px;
}
/*-------------------*/

/*2カラム用お問い合わせセット*/
#main .solution_2clm {
	clear: both;
	margin: 30px 0 15px 0;
	padding: 0 0 0 15px;
}
	#main .solution_2clm dt {
		padding: 0 0 5px 0;
	}
	#main .solution_2clm dd {
		float: left;
		padding: 0 16px
	}
	#main .solution_2clm dd.faq {
		background: url(images/common/solution_bnr01_o.jpg) 48px 0 no-repeat;
		padding-left: 48px;
	}
	#main .solution_2clm dd.contact {
		background: url(images/common/solution_bnr02_o.jpg) center 0 no-repeat;
	}
		#main .solution_2clm dd a {
			width: 249px;
			height: 74px;
			display: block;
		}
		#main .solution_2clm dd a:hover img {
			display: none;
		}
	#main .solution_2clm img {
		vertical-align: bottom;
	}


.priceList{
	border-collapse: collapse;
	margin-bottom:10px;
}
.priceList td,
.priceList th{
	border: 1px #654343 solid;
	padding:10px;
	text-align:center;
	font-size:14px;
	line-height:1.3;
}
.priceList th{
	color:#FFFFFF;
	font-weight:bold;
	background-color: #96cfcf;
	font-size:12px;
}



/*----------------------------------------
	secondary 
---------------------------------------*/
#secondary {
	float: right;
	width: 270px;
	margin: 0 0 30px 0;
}
#secondary li {
	margin: 0 0 4px 0;
}
#secondary #tag {
	margin: 0 0 15px 0;
}
#secondary #tag li {
	margin-bottom: 0;
}
#secondary img {
	vertical-align: bottom;
}

#secondary a img {
	margin: 0 0 1px 0;
}
#secondary a img.on {
	margin: 1px 0 0 1px;
-moz-transform: rotate(-1deg);
-webkit-transform: rotate(-1deg);
-o-transform: rotate(-1deg);
-ms-transform: rotate(-1deg);
}
/*フリーバナーエリア*/
#secondary #freeBnr {
	font-size: 11px;
	line-height: 1.5;
}
	#secondary #freeBnr a {
		display: block;
		margin: 0 0 5px 0;
	}
#secondary p {
	margin: 0 0 10px 0;
}





/*----------------------------------------
	topics(TOPページ内)
---------------------------------------*/
#main .topics {
	float: left;
	width: 485px;
	margin: 15px 0 10px 0;
	padding: 0 0 0 10px;
	font-size: 12px;
	line-height: 1.3;
	position: relative;
}
#main .topics h4 {
	width: 470px;
	height: 55px;
	background: url(images/home/topics_ttl_bg.gif) no-repeat;
	text-indent: 100%;
	white-space:nowrap;
	overflow:hidden;
	line-height: 40px;
}
	#main .topics h4 span {
		display: block;
		background: url(images/home/ttl_topics.gif) no-repeat;
	}
#main .topics .rss {
	position: absolute;
	top: 0;
	right: 20px;
}
#main .topics .rss a {
	display: block;
	padding: 9px 10px 7px;
}
#main .topics dl {
	width: 453px;
	background: url(images/home/topics_line.gif) 15px bottom no-repeat;
}
	#main .topics dt {
		float: left;
		width: 350px;
		padding: 13px 0 13px;
		margin: 0 0 0 15px;
	}
		#main .topics dt a {
			color: #252525;
		}
		#main .topics dt a:hover, #main .topics dt a:active {
			color: #ff6378;
		}
	#main .topics dt.new:after, #main .topics dt.new {
		after: "new";
		content: "new";
	}
	#main .topics dt.new:after, #main .topics dt.new .after {
		padding: 0 0 0 1em;
		color: #ff6378;
		font-size: 10px;
	}
	#main .topics dd {
		float: right;
		padding: 13px 0 15px;
	}
#main .topics .more {
	margin: 10px 0 0 0;
	padding: 0 30px 0 0;
	text-align: center;
}
#main .topics .more a {
	float: right;
	width: 110px;
	padding: 8px 0;
	background-color: #ff6378;
	display: block;
	color: #ffffff;
}

/*----------------------------------------
	calendar
---------------------------------------*/
/* sidebar */
.scheduleWrapperMini {
	width: 260px;
	height: 220px;
	margin: 0;
}
/* top */
.home .scheduleWrapper {
	float: right;
	width: 421px;
	height: 375px;
	margin: 0 15px 15px 0;
}





/*----------------------------------------
	subFooter 
---------------------------------------*/
#subFooter {
	width: 950px;
	margin: 0 auto;
	padding: 0 0 15px 10px;
}
#subFooter .solution {
	margin: 0 0 15px 0;
	padding: 0 0 0 15px;
}
	#subFooter .solution dt {
		padding: 0 0 5px 0;
	}
	#subFooter .solution dd {
		float: left;
		padding: 0 16px
	}
	#subFooter .solution dd.faq {
		background: url(images/common/solution_bnr01_o.jpg) 48px 0 no-repeat;
		padding-left: 48px;
	}
	#subFooter .solution dd.contact {
		background: url(images/common/solution_bnr02_o.jpg) center 0 no-repeat;
	}
	#subFooter .solution dd.voice {
		background: url(images/common/solution_bnr03_o.jpg) center 0 no-repeat;
	}
		#subFooter .solution dd a {
			width: 249px;
			height: 74px;
			display: block;
		}
		#subFooter .solution dd a:hover img {
			display: none;
		}
	#subFooter .solution img {
		vertical-align: bottom;
	}
.pagetop {
	margin: 0 10px 10px 0;
	text-align: right;
	clear: both;
}
/* quickLink */
.quickLink {
	color: #202020;
	font-size: 11px;
	line-height: 1.2;
}
	.quickLinkinner {
		padding: 0 0 0 12px;
		background: url(images/common/quickLink_bg.gif) repeat-y;
	}
	.quickLink:before, .quickLink {
		before: ".";
		content: ".";
	}
	.quickLink:before, .quickLink .before {
		height: 10px;
		display: block;
		position: relative;
		background: url(images/common/quickLink_top.gif) left top no-repeat;
	}
	.quickLink:after, .quickLink {
		after: ".";
		content: ".";
	}
	.quickLink:after, .quickLink .after {
		height: 10px;
		display: block;
		position: relative;
		background: url(images/common/quickLink_bottom.gif) left top no-repeat;
	}
.quickLink dl {
	float: left;
	width: 230px;
}
.quickLink dl.last {
	margin-right: 0;
}
.quickLink h3 {
	height: 35px;
	margin: 3px 0 0 0;
	padding: 0 0 0 10px;
	font-size: 14px;
	line-height: 28px;
}
	.quickLink h3.ql01 {
		background: url(images/common/quickLink_ttl_bg01.gif) no-repeat;
	}
	.quickLink h3.ql02 {
		background: url(images/common/quickLink_ttl_bg02.gif) no-repeat;
	}
	.quickLink h3.ql03 {
		background: url(images/common/quickLink_ttl_bg03.gif) no-repeat;
	}
	.quickLink h3.ql04 {
		background: url(images/common/quickLink_ttl_bg04.gif) no-repeat;
	}
	.quickLink h3 a {
		display: block;
		color: #204e5f;
	}
.quickLink dd {

	padding: 0 20px 0 10px;
}
.quickLink .more {
	text-align: right;
}
	.quickLink .more a {
		color: #ff6378;
	}
	.quickLink .more a:link, .quickLink .more a:visited {
		text-decoration: underline;
	}
	.quickLink .more a:hover, .quickLink .more a:active {
		text-decoration: none;
	}


/*----------------------------------------
	footer 
---------------------------------------*/
#footer {
	width: 100%;
	padding: 83px 0 0 0;
	background: url(images/common/footer_img.gif) no-repeat top center;
	color: #654343;
}
#footer h2 {
	width: 445px;
	margin: 30px 0 0 0;
	font-family: 'koz-min' , 'serif' ;
	font-size: 18px;
	font-weight: normal;
	text-shadow: 1px 2px 1px #b0ad96;
}
#footer h3 {
	padding: 0 0 0 0.2em;
	font-weight: normal;
	display: inline;
	color: #654343;
}
#footer a {
	color: #654343;
}
#footer .siteInfo {
	width: 100%;
	/*max-width: 1200px*/
	min-width: 960px;
	margin: 0 auto;
	padding: 40px 0 50px 0;
	background: url(images/common/footer_line.gif) repeat-x;
	background-color: #fcf8e0;
	text-align: center;
}
#footer ol {
	margin: 25px 0 30px 0;
}
	#footer ol li {
		display: inline;
		font-size: 12px;
		padding: 0 1em 0 0;
	}
	#footer ol li:before, #footer ol li {
  		content: "\f04b";
  		before: "\f04b";
	}
	#footer ol li:before, #footer ol li .before {
  		font-family: FontAwesome;
  		font-weight: normal;
  		font-style: normal;
  		font-size: 12px;
  		display: inline-block;
	}
		#footer ol li.kids {
			color: #ffd800;
		}
		#footer ol li.grownup {
			color: #81b841;
		}
		#footer ol li.bridal {
			color: #9b6ac6;
		}
		#footer ol li.memorial {
			color: #fd9010;
		}
		#footer ol li.portrait {
			color: #28a6d0;
		}
		#footer ol li.certificate {
			color: #2e66c3;
		}
#footer dl {
	width: 950px;
	margin: 0 auto 38px;
	text-align: left;
}
	#footer dt,
	#footer dd {
		float: left;
	}
	#footer dt {
		margin: 0 10px 0 0;
	}
	#footer .address {
		width: 205px;
		padding: 12px 0 0 10px;
		background: url(images/common/footer_tel.gif) no-repeat top left;
		font-size: 11px;
		line-height: 1.3;
		font-weight: bold;
	}
	#footer .tel {
		height: 38px;
		font-size: 20px;
	}
	#footer .binsHours {
		font-weight: normal;
	}
#footer .copyright {
	width: 950px;
	margin: 0 auto;
	color: #000000;
	font-size: 11px;
}
	#footer .copyright a {
		color: #000000;
	}
	#footer .copyright p {
		float: left;
	}
	#footer .copyright ul {
		float: right;
	}
	#footer .copyright ul li {
		display: inline;
		font-size: 10px;
	}











/* =下層
-------------------------------------------------------------- */
/*----------------------------------------
	共通
---------------------------------------*/
/*1カラム用タイトル共通*/
#main.Column1 h3 {
	height: 50px;
	margin: 0 0 30px 0;
	text-indent: 100%;
	white-space:nowrap;
	overflow:hidden;
	position: relative;
	line-height: 40px;
}
#main.Column1 h3:after, #main h3 {
	after: ".";
	content: ".";
}
#main.Column1 h3:after, #main.Column1 h3 .after {
	height: 10px;
	display: block;
	position: relative;
	background: url(images/common/ttl_1column_bg.gif) 30px bottom no-repeat;
}

/*2カラム用タイトル共通*/
#main.Column2 #primary h3,
#main.Column2 #primary .entry h3 {
	width: 650px;
	height: 46px;
	margin: 0 0 10px 0;
	background: url(images/common/primary_ttl_bg2.gif) no-repeat;
	text-indent: 150%;
	white-space:nowrap;
	overflow:hidden;
	position: relative;
	line-height: 40px;
}

#main.Column2 #primary h3.greenbg {
	background: url(images/common/primary_ttl_bg.gif) no-repeat;
}

	#main.Column2 #primary h3 span {
		display: block;
	}

#main.Column2 #primary .entry h4.greenbg {
	width: 650px;
	height: 46px;
	margin: 0 0 10px 0;
	background: url(images/common/primary_ttl_bg.gif) no-repeat;
	text-indent: 150%;
	white-space:nowrap;
	overflow:hidden;
	position: relative;
	line-height: 40px;
}
	#main.Column2 #primary .entry h4.greenbg span {
		display: block;
	}



/*1カラム本文*/
#main.Column1 .entry {
	width: 860px;
	padding: 0 0 50px 50px;
	color: #383838;
	font-size: 12px;
	line-height: 2;
}
	#main.Column1 .entry a,
	#main.Column2 .entry a {
		color: #ff6378;
	}
/*2カラム本文*/
#main.Column2 #primary {
	color: #654343;
	font-size: 12px;
	line-height: 2;
}
#main.Column2 #primary a,
#main.Column2 #secondary a {
	color: #654343;
}

#main #primary .navigation .next {
	float: left;
	padding: 0 0 0 10px;
}
/*2カラム ナビゲーション（次・前）*/
#main #primary .navigation .previous {
	float: right;
	padding: 0 10px 0 0;
}
	#main #primary .navigation p a {
		display: block;
	}

	#main #primary .navigation .next a:before, #main #primary .navigation p a{
  		content: "\f0d9";
  		before: "\f0d9";
	}
	#main #primary .navigation .previous a:after, #main #primary .navigation p a {
  		content: "\f0da";
  		after: "\f0da";
	}
	#main #primary .navigation .next a:before, #main #primary .navigation .next a .before {
  		font-family: FontAwesome;
  		font-weight: normal;
  		font-style: normal;
  		font-size: 12px;
  		display: inline-block;
	}
	#main #primary .navigation .previous a:after, #main #primary .navigation .previous a .after {
  		font-family: FontAwesome;
  		font-weight: normal;
  		font-style: normal;
  		font-size: 12px;
  		display: inline-block;
	}
/*文末注意*/
#main #primary .caution {
	padding: 0 0 0 30px;
}


/*----------------------------------------
	ページ別個別要素
---------------------------------------*/
/*TOP用・お子様TOP用共通*/
.home #primary h4,
.kidsHome #primary h4 {
	width: 650px;
	height: 55px;
	background: url(images/common/primary_ttl_bg.gif) no-repeat;
	text-indent: 100%;
	white-space:nowrap;
	overflow:hidden;
	position: relative;
	line-height: 40px;
}
	.home #primary h4 span,
	.kidsHome #primary h4 span {
		display: block;
	}
	.home #primary .campaign h4 span,
	.kidsHome #primary .campaign h4 span {
		background: url(images/common/ttl_campaign.gif) no-repeat;
	}
.campaign ul {
	margin: 0 0 0 15px;
}
.campaign li {
	margin: 0 0 10px 0;
}
.campaign li img {
	vertical-align: bottom;
}

/*TOP用*/
.home #primary .gallery h4 span {
	background: url(images/home/ttl_gallery.gif) no-repeat;
}
.home .galleryInner {
	height: 295px;
	margin: 0 0 5px 15px;
	background: url(images/home/gallery_bg.jpg) no-repeat;
	position: relative;
}
.home .galleryInner p {
	position: absolute;
	top: -3px;
	left: -12px;
}
.home .gallery .more {
	margin: 0;
	padding: 0 20px 0 0;
	font-size: 12px;
	line-height: 1.3;
	text-align: center;
}
.home .gallery .more a {
	float: right;
	width: 110px;
	padding: 8px 0;
	background-color: #ff6378;
	display: block;
	color: #ffffff;
}



/*1カラム（共通テンプレート使用ページは
			css/common_1column.cssへ記入）
-----------------------------------------*/
/*準備中*/
#main .entry .prepare{
	padding:80px 0 0 150px;
}

/*gallery*/
#main.gallery h3 {
	background: url(images/gallery/ttl.gif) 30px 0 no-repeat;
	margin: 0;
}
/*angels*/
#main.angels h3 {
	background: url(images/kids/angels/ttl.gif) 30px 0 no-repeat;
}
#main.angels .entry {
	width: 930px;
	padding-left: 30px;
}
#main.angels .entry p {
	padding: 0 0 0 20px;
}

/*衣装共通*/
#main.dress #tab{padding: 0 30px 20px;}
#main.dress #tab li a.active img{visibility:hidden;}
#main.dress #tab li a{display:block;}
#main.dress #tab li a:hover img{visibility:hidden;}


#main.dress .entry {
	width: 890px;
	padding-left: 30px;
}
#main.dress .entry li {
	float: left;
}
#main.dress .entry ol {
	padding: 0 0 30px 0;
}
#main.dress .entry ul {
	padding: 0 20px 20px 15px;
}
#main.dress .entry ol li {
	margin: 0 4px 0 0;
}
#main.dress .entry ul li {
	margin: 0 0 15px 15px;
}
#main.dress .entry .category {
	clear: both;
}

/*bridal衣装*/
#main.bridalDress h3 {
	background: url(images/bridal/dress/ttl.gif) 30px 0 no-repeat;
	margin-bottom: 20px;
}
#main.bridalDress h4 {
	margin: 0 0 12px 15px;
}


/*成人・卒業衣装*/
#main.growupDress h3 {
	background: url(images/growup/dress/ttl.gif) 30px 0 no-repeat;
	margin-bottom: 20px;
}

#main.growupDress .bCopy {
	padding: 0 30px 20px;
}


#main.growupDress #tab li{margin-right:15px;}
#main.growupDress #tab li.btn01 a{background: url(images/growup/dress/tab_01_on.jpg) left top no-repeat;}
#main.growupDress #tab li.btn02 a{background: url(images/growup/dress/tab_02_on.jpg) left top no-repeat;}


#main.growupDress #rental{
	color:#654343;
	padding:0 45px;
	display:none;
}
#main.growupDress #rental h4{
	font-size:20px;
	margin: 0 0 20px 0;
}
#main.growupDress #rental .icon-heart{

	color:#ff6378;
}

#main.growupDress #rental .rentalInner{
	padding:0 0 40px 55px;
}
#main.growupDress #rental table{
	margin: 0 0 15px 0;
}

#main.growupDress #rental table.noRental{
	margin: 10px 0 15px 110px;
	border-collapse: collapse;
}

#main.growupDress #rental tr{
	background: url(images/growup/dress/rental_line.png) left bottom no-repeat;
}
#main.growupDress #rental .noRental tr{
	background:none;
}

#main.growupDress #rental th,
#main.growupDress #rental td{
	padding:15px 0;
	vertical-align:middle;
	font-weight:bold;
}

#main.growupDress #rental .noRental th,
#main.growupDress #rental .noRental td{
	border:1px #999999 solid;
}

#main.growupDress #rental th{
	text-align:center;
}
#main.growupDress #rental .noRental th{
	width:25%;
}
#main.growupDress #rental .noRental td{
	padding-left:20px;
}


#main.growupDress #rental th.option{
	width:315px;
}
#main.growupDress #rental td.packPrice{
	text-align:right;
}
#main.growupDress #rental .noRental td.packPrice{
	text-align:center;
	padding-left:0;
}

#main.growupDress #rental td.packPrice strong{
	font-size:20px;
}

#main.growupDress #rental td dl{
	padding-left:40px;
}
#main.growupDress #rental td dt{
	clear:both;
	text-align:right;
	width:5em;
	margin-right:20px;
	float:left;
}
#main.growupDress #rental td dd{
	float:left;
}

#main.growupDress #rental .rentalInner li,
#main.growupDress #rental .rentalInner p{
	font-weight:bold;
	line-height:2.0;
}
#main.growupDress #rental .rentalInner p{
	margin-bottom:20px;
}
#main.growupDress #rental .rentalInner p strong{
	font-size:14px;
}


/*お子様の衣装*/
#main.kidsDress h3 {
	background: url(../kinoshita_kids/images/dress/ttl.gif) 30px 0 no-repeat;
	margin-bottom: 20px;
}
#main.kidsDress .bCopy {
	padding: 0 30px 20px;
}

#main.kidsDress #tab li{margin: 0 4px;}

#main.kidsDress #tab li.btn04{margin: 0 0 0 4px;}
#main.kidsDress #tab li.btn01 a{background: url(../kinoshita_kids/images/dress/tab_01_on.gif) left top no-repeat;}
#main.kidsDress #tab li.btn02 a{background: url(../kinoshita_kids/images/dress/tab_02_on.gif) left top no-repeat;}
#main.kidsDress #tab li.btn03 a{background: url(../kinoshita_kids/images/dress/tab_03_on.gif) left top no-repeat;}
#main.kidsDress #tab li.btn04 a{background: url(../kinoshita_kids/images/dress/tab_04_on.gif) left top no-repeat;}

#main.kidsDress #baby ol{
	margin-left:164px;
}


#main.kidsDress #first,
#main.kidsDress #shichigosan,
#main.kidsDress #tuxedo{
	display:none;
}


#main.kidsDress .entry ul.listend {
    padding-bottom: 0;
}
#main.kidsDress .entry .dressText{
    font-size:16px;
    font-weight:bold;
    line-height:1.5;
    padding:0 0 20px 30px;;
    color:#654343;
}

#main.kidsDress .entry .price{
    font-size:16px;
    font-weight:bold;
    line-height:1.5;
    padding:0 0 20px 30px;;
    color:#ff6378;
}
#main.kidsDress .entry .price strong{font-size:24px;}
#main.kidsDress .entry .price span{
    font-size:12px;
    font-weight:normal;
    color:#654343;
}


#main.dress .entry .cautionList p{
    line-height:1.5;
    color:#654343;
}

#main.kidsDress .entry ul.listend {
    padding-bottom: 0;
}

#main.kidsDress #shichigosan.entry .leftArea {
    float: left;
    width: 330px;
}
#main.kidsDress #shichigosan.entry .leftArea dt,
#main.kidsDress #shichigosan.entry .leftArea dd{
    padding-left: 30px;
    line-height: 1.5;
    color:#654343;
}

#main.kidsDress #shichigosan.entry .rightArea {
    float: left;
    width: 560px;
}
#main.kidsDress #shichigosan.entry .rightArea  ul{
    padding: 0 0 20px 0;
}




/*2カラム
（topics・campaignページはcss/topics_campaign.css
　お客様の声はcss/voice.css、よくある質問はcss/faq.css
　その他はcss/common_2column.cssへ記入）
------------------------------*/




