/* General Demo Style */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

.wrapper *,
.wrapper *:after,
.wrapper *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
}

body {
	/*overflow-y: scroll;
	overflow-x: hidden;*/
}
body .wrapper {
	font-family: 'Lato', Calibri, Arial, sans-serif;
	font-weight: 300;
	font-size: 15px;
	color: #333;
}
.wrapper a {
	color: #555;
	text-decoration: none;
}

.wrapper #page {
	width: 100%;
	position: relative;
}

.wrapper .clr {
	clear: both;
	padding: 0;
	height: 0;
	margin: 0;
}

/* Header Style */
.wrapper .codrops-top {
	line-height: 24px;
	font-size: 11px;
	background: #fff;
	background: rgba(255, 255, 255, 0.5);
	text-transform: uppercase;
	z-index: 9999;
	position: relative;
	box-shadow: 1px 0px 2px rgba(0,0,0,0.2);
}

.wrapper .codrops-top a {
	padding: 0px 10px;
	letter-spacing: 1px;
	color: #333;
	display: inline-block;
}

.wrapper .codrops-top a:hover {
	background: rgba(255,255,255,0.8);
	color: #000;
}

.wrapper .codrops-top span.right {
	float: right;
}

.wrapper .codrops-top span.right a {
	float: left;
	display: block;
}

/* Demo Buttons Style */
.wrapper .codrops-demos {
	display: inline-block;
	padding-top: 5px;
	text-align: right;
	width: 50%;
	min-width: 320px;
}

.wrapper .codrops-demos a {
	display: inline-block;
	margin: 10px 20px 0 0;
	color: #666;
	font-weight: 700;
	padding-bottom: 5px;
	border-bottom: 4px solid transparent;
}

.wrapper .codrops-demos a:last-child {
	margin-right: 0px;
}

.wrapper .codrops-demos a:hover {
	color: #000;
	border-color: #000;
}

.wrapper .codrops-demos a.current-demo,
.wrapper .codrops-demos a.current-demo:hover {
	color: #aaa;
	border-color: #aaa;
}

.wrapper .support-note {
	clear: both;
}

.wrapper .support-note span{
	color: #ac375d;
	font-size: 16px;
	display: none;
	padding: 20px;
	font-weight: bold;
	text-align: center;
}

@media screen and (max-width: 640px){
	.wrapper .codrops-demos { text-align: left;}
}