.tp-grid {
	list-style-type: none;
	position: relative;
	display: block;
}

.tp-grid li {
	position: absolute;
	cursor: pointer;
	border: 10px solid #fff;
	box-shadow: 0 2px 3px rgba(0,0,0,0.2);
	display: none;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
}

.no-js .tp-grid li {
	position: relative;
	display: inline-block;
}

.tp-grid li a {
	display: block;
	outline: none;
}

.tp-grid li img {
	display: block;
	border: none;
	width: 194px;
}

.tp-info {
	position: absolute;
	background: #fff;
	line-height: 20px;
	color: #333;
	top: 40%;
	width: 75%;
	padding: 10px;
	font-family: 'koz-go' , 'serif' ;
	font-size: 12px;
	/*font-weight: 700;*/
	text-align: right;
	left: -100%;
	box-shadow: 
		1px 1px 1px rgba(0,0,0,0.1),
		5px 0 5px -3px rgba(0,0,0,0.4),
		inset 0 0 5px rgba(0,0,0,0.04);
}
.tp-title {
	position: absolute;
	/*background: #fff;*/
	line-height: 20px;
	color: #333;
	bottom: 0;
	/*width: 75%;*/
	padding: 10px;
	font-family: 'koz-go' , 'serif' ;
	font-size: 12px;
	/*font-weight: 700;*/
	/*text-align: right;*/
	left: -100%;
	/*box-shadow: 
		1px 1px 1px rgba(0,0,0,0.1),
		5px 0 5px -3px rgba(0,0,0,0.4),
		inset 0 0 5px rgba(0,0,0,0.04);*/
	text-indent:130%;
	white-space:nowrap;
	overflow:hidden;
	width: 185px;
	height: 75px;
}
	.tp-cat1{
		background: url(../../images/gallery/tp_ttl01.png) bottom left no-repeat;
	}
	.tp-cat2{
		background: url(../../images/gallery/tp_ttl02.png) bottom left no-repeat;
	}
	.tp-cat3{
		background: url(../../images/gallery/tp_ttl03.png) bottom left no-repeat;
	}
	.tp-cat4{
		background: url(../../images/gallery/tp_ttl04.png) bottom left no-repeat;
	}
	.tp-cat5{
		background: url(../../images/gallery/tp_ttl05.png) bottom left no-repeat;
	}
	.tp-cat6{
		background: url(../../images/gallery/tp_ttl06.png) bottom left no-repeat;
	}
	.tp-cat7{
		background: url(../../images/gallery/tp_ttl07.png) bottom left no-repeat;
	}
	.tp-cat8{
		background: url(../../images/gallery/tp_ttl08.png) bottom left no-repeat;
	}
	.tp-cat9{
		background: url(../../images/gallery/tp_ttl09.png) bottom left no-repeat;
	}
	.tp-cat10{
		background: url(../../images/gallery/tp_ttl10.png) bottom left no-repeat;
	}
.touch .tp-info {
	left: 0px;
}

.no-touch .tp-info {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.no-touch .tp-grid li:hover .tp-info {
	-webkit-transition-delay: 150ms;
	-moz-transition-delay: 150ms;
	-o-transition-delay: 150ms;
	-ms-transition-delay: 150ms;
	transition-delay: 150ms;
}

.no-touch .tp-open li:hover .tp-info {
	left: 0px;
}

.tp-title {
	/*padding: 10px 35px 10px 10px;*/
	padding: 0;
	left: 0px;
	
/*-moz-transform: rotate(-12deg);
-webkit-transform: rotate(-12deg);
-o-transform: rotate(-12deg);
-ms-transform: rotate(-12deg);	
*/	
	
}

/*.tp-title span:nth-child(2){*/
.tp-title span.count{
	color: #aaa;
	padding: 0 5px;
	/*background: #F7F7F7;*/
	right: 0px;
	height: 100%;
	line-height: 40px;
	top: 0px;
	position: absolute;
	display: block;
	text-indent:-200%;
	white-space:nowrap;
	overflow:hidden;
}