div#kids_angels:after {
	content:".";
	height:0;
	clear:both;
	display:block;
	visibility:hidden;
	font-size: 0.1em;
	hine-height: 0; 
	}
/*---
For IE
-----*/
div#kids_angels {
	display:inline-block;
	width: 930px;
	padding: 20px 0 0 0;
	}
/*MacIE \*/
* html div#kids_angels {height: 1em;}
div#kids_angels {display: block;}
/*  */

div.content {
	position: relative;
	display: none;
	float: left;
	width: 500px; 
}
div.content a, div.navigation a {
	text-decoration: none;
	color: #777 !important;
}
div.content a:focus, div.content a:hover, div.content a:active {
	text-decoration: underline;
}
div.controls {
	margin-top: 5px;
	height: 23px;
}
div.controls a {
	width: 62px;
	padding-bottom: 29px;
}
div.ss-controls {
	float: left;
}
div.nav-controls {
	width: 480px;
	position: absolute;
	top:40%;
	left:0;
	z-index: 100;
	line-height: 1.2;
	text-align: center;
}
div.nav-controls a:hover {
	-moz-opacity: 0.7;
	opacity: 0.7;
	filter: alpha(opacity=70);
}

div.nav-controls a.prev {
	float: left;
	background: url(../../images/kids/angels/prev.gif) bottom center no-repeat;
}
div.nav-controls a.next {
	float: right;
	background: url(../../images/kids/angels/next.gif) bottom center no-repeat;
}

div.slideshow-container {
	position: relative;
	clear: both;
	height: 570px; /* This should be set to be at least the height of the largest image in the slideshow */
}
div.loader {
	position: absolute;
	top: 0;
	left: 0;
	background-image: url('loader.gif');
	background-repeat: no-repeat;
	background-position: center;
	width: 550px;
	height: 570px; /* This should be set to be at least the height of the largest image in the slideshow */
}
div.slideshow {

}
div.slideshow span.image-wrapper {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
}
div.slideshow a.advance-link {
	display: block;
	width: 480px;
	height: 480px; /* This should be set to be at least the height of the largest image in the slideshow */
	 /*line-height: 500px; This should be set to be at least the height of the largest image in the slideshow */
	text-align: center;
}
div.slideshow a.advance-link:hover, div.slideshow a.advance-link:active, div.slideshow a.advance-link:visited {
	text-decoration: none;
}
div.slideshow img {
	vertical-align: middle;
	border: 10px solid #fff;
	border-left-width: 62px;
	border-right-width: 62px;
	/*border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;*/
	box-shadow: 1px 1px 3px #ccc;
	-moz-box-shadow: 1px 1px 3px #ccc;
	-webkit-box-shadow: 1px 1px 3px #ccc;
}
div.download {
	float: right;
}
div.caption-container {
	position: absolute;
	bottom:0;
	left:0;
	clear: left;
	height: 75px;
}
span.image-caption {
	display: block;
	position: absolute;
	width: 480px;
	top: 0;
	left: 0;
}
div.caption {
	text-align: right;
}
div.image-title {
	background: url(../../images/kids/angels/caption_bg.gif) top right no-repeat;
	padding-right: 20px;
	font-size: 12px;
	line-height: 47px;
}
div.image-desc {
	line-height: 1.3em;
	padding-top: 12px;
}
div.navigation {
	/* The navigation style is set using jQuery so that the javascript specific styles won't be applied unless javascript is enabled. */
}
ul.thumbs {
	clear: both;
	margin: 0;
	padding: 0;
}
ul.thumbs li {
	float: left;
	width: 130px;
	padding: 0;
	margin: 5px 10px 5px 0;
	list-style: none;
	font-size: 9px;
}
ul.thumbs li p{
	height: 38px;
	padding: 8px 0 0 5px !important;
	background: url(../../images/kids/angels/name_bg.gif) no-repeat;
	line-height: 1.1;
}
a.thumb {
	padding: 5px;
	display: block;
	border: 1px solid #ccc;
}
ul.thumbs li a.thumb {
	width: 106px;
	background: #fff;
}
ul.thumbs li.selected a.thumb {
	background: #d1f7f7;
}
a.thumb:focus {
	outline: none;
}
ul.thumbs img {
	border: none;
	display: block;
}
div.pagination {
	clear: both;
}
div.navigation div.top {
	margin-bottom: 12px;
	height: 11px;
	line-height: 1.1;
}
div.navigation div.bottom {
	margin-top: 12px;
}
div.pagination a, div.pagination span.current, div.pagination span.ellipsis {
	display: block;
	float: left;
	margin-right: 2px;
	padding: 4px 4px 2px 4px;
	border: 1px solid #ccc;
	color: #333333 !important;
}
div.pagination a {
	background-color: #fff;
}
div.pagination a:hover {
	background-color: #d1f7f7;
	text-decoration: none;
}
div.pagination span.current {
	font-weight: bold;
	background-color: #d1f7f7;
	border-color: #ccc;
}
div.pagination span.ellipsis {
	border: none;
	padding: 5px 0 3px 2px;
}
